Repository kubermatic/kubeone: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, ci-push-kubeone-e2e-image

pull-kubeone-e2e-aws-containerd-conformance-1.18:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.15
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.15
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

pull-kubeone-e2e-aws-conformance-1.18:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.15
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
  ...

pull-kubeone-e2e-aws-conformance-1.19:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.15
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
  ...

pull-kubeone-e2e-aws-conformance-1.20:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.15
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
  ...

pull-kubeone-e2e-aws-conformance-1.21:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.15
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: TEST_CLUSTER_TARGET_VERSION
  ...

pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.15
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

pull-kubeone-e2e-aws-upgrade-1.17-1.18:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.15
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
  ...

Update machinecontroller to v1.30.0
  pkg/templates/machinecontroller/deployment.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Fix aws config for terraform 0.15 (#1329)
  examples/terraform/aws/main.tf
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

OWNERS file update
  OWNERS
Due: none

OWNERS file update (#1373)
  OWNERS
Due: none

Patch/value types (#1369)
  examples/terraform/azure/variables.tf
  examples/terraform/digitalocean/variables.tf
  examples/terraform/gce/variables.tf
  examples/terraform/hetzner/variables.tf
  examples/terraform/openstack/variables.tf
  examples/terraform/packet/variables.tf
  examples/terraform/vsphere/variables.tf
Due: none

add moath to owners file
  OWNERS
Due: none

add moath to owners file (#1374)
  OWNERS
Due: none

Fix aws config for terraform 0.15 (#1329) (#1372)
  examples/terraform/aws/main.tf
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Upgrade terraform to 1.0.0 (#1368)
  hack/images/kubeone-e2e/Dockerfile
  hack/images/kubeone-e2e/release.sh
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, ci-push-kubeone-e2e-image

Use updated kubermatic/kubeone-e2e:v0.1.16
  .prow.yaml
Due: none

Use updated kubermatic/kubeone-e2e:v0.1.16 (#1375)
  .prow.yaml
Due: none

Update machinecontroller to v1.30.0 (#1370)
  pkg/templates/machinecontroller/deployment.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Relax docker/containerd version constraints
  pkg/scripts/funcs.go
  pkg/scripts/render.go
  pkg/scripts/testdata/TestKubeadmAmazonLinux-force.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-proxy.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-simple.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-force.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmCentOS-proxy.golden
  pkg/scripts/testdata/TestKubeadmCentOS-simple.golden
  pkg/scripts/testdata/TestKubeadmCentOS-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestKubeadmDebian-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmDebian-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmDebian-simple.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNICentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIDebian.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlCentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlDebian.golden
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Relax docker/containerd version constraints (#1371)
  pkg/scripts/funcs.go
  pkg/scripts/render.go
  pkg/scripts/testdata/TestKubeadmAmazonLinux-force.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-proxy.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-simple.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-force.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmCentOS-proxy.golden
  pkg/scripts/testdata/TestKubeadmCentOS-simple.golden
  pkg/scripts/testdata/TestKubeadmCentOS-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestKubeadmDebian-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmDebian-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmDebian-simple.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNICentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIDebian.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlCentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlDebian.golden
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Fix OpenStack terraform config
  examples/terraform/openstack/variables.tf
  examples/terraform/openstack/versions.tf
Due: none

Fix vSphere terraform config
  examples/terraform/vsphere/main.tf
  examples/terraform/vsphere/versions.tf
Due: none

Fix Hetzner terraform config
  examples/terraform/hetzner/versions.tf
Due: none

Fix packet terraform config
  examples/terraform/packet/versions.tf
Due: none

Fix AWS terraform config
  examples/terraform/aws/versions.tf
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Fix Azure terraform config
  examples/terraform/azure/versions.tf
Due: none

Fix Digitalocean terraform
  examples/terraform/digitalocean/versions.tf
Due: none

Fix GCE terraform config
  examples/terraform/gce/versions.tf
Due: none

Terraform configs aligned to terraform 1.0.0 (#1376)
  examples/terraform/aws/versions.tf
  examples/terraform/azure/versions.tf
  examples/terraform/digitalocean/versions.tf
  examples/terraform/gce/versions.tf
  examples/terraform/hetzner/versions.tf
  examples/terraform/openstack/variables.tf
  examples/terraform/openstack/versions.tf
  examples/terraform/packet/versions.tf
  examples/terraform/vsphere/main.tf
  examples/terraform/vsphere/versions.tf
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Add CHANGELOG for v1.2.2 release
  CHANGELOG.md
Due: none

Add CHANGELOG for v1.2.2 release (#1377)
  CHANGELOG.md
Due: none

Add CHANGELOG for v1.2.2 release (#1378)
  CHANGELOG.md
Due: none

Pass -node-external-cloud-provider to the MC webhook
  pkg/templates/machinecontroller/deployment.go
  pkg/templates/machinecontroller/webhook.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Pass -node-external-cloud-provider to the MC webhook (#1380)
  pkg/templates/machinecontroller/deployment.go
  pkg/templates/machinecontroller/webhook.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Update test fixtures
  pkg/scripts/testdata/TestKubeadmAmazonLinux-force.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-proxy.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-simple.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-force.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmCentOS-proxy.golden
  pkg/scripts/testdata/TestKubeadmCentOS-simple.golden
  pkg/scripts/testdata/TestKubeadmCentOS-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNICentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlCentOS.golden
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Disable repo_gpgcheck for the Kubernetes yum repo
  pkg/scripts/os.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

[release/v1.2] Disable repo_gpgcheck for the Kubernetes yum repo (#1381)
  pkg/scripts/os.go
  pkg/scripts/testdata/TestKubeadmAmazonLinux-force.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-proxy.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-simple.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-force.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmCentOS-proxy.golden
  pkg/scripts/testdata/TestKubeadmCentOS-simple.golden
  pkg/scripts/testdata/TestKubeadmCentOS-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNICentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlCentOS.golden
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Add changelog for 1.2.3
  CHANGELOG.md
Due: none

Add changelog for 1.2.3 (#1382)
  CHANGELOG.md
Due: none

Add changelog for 1.2.3 (#1383)
  CHANGELOG.md
Due: none

Add links to the PRs to the v1.2.3 changelog
  CHANGELOG.md
Due: none

Add links to the PRs to the v1.2.3 changelog (#1384)
  CHANGELOG.md
Due: none

Path conditions:
  pull-kubeone-e2e-aws-containerd-conformance-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.19: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.17-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.18-1.19: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.19-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.20-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/)
  ci-push-kubeone-e2e-image: any of: (hack/images/kubeone-e2e)
