Repository kubermatic/kubeone: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, ci-push-kubeone-e2e-image

pull-kubeone-e2e-aws-containerd-conformance-1.18:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.15
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.15
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

pull-kubeone-e2e-aws-conformance-1.18:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.15
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
  ...

pull-kubeone-e2e-aws-conformance-1.19:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.15
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
  ...

pull-kubeone-e2e-aws-conformance-1.20:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.15
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
  ...

pull-kubeone-e2e-aws-conformance-1.21:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.15
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: TEST_CLUSTER_TARGET_VERSION
  ...

pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.15
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

pull-kubeone-e2e-aws-upgrade-1.17-1.18:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.15
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
  ...

Upgrade machine-controller to v1.35.0
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Azure CCM
  addons/ccm-azure/ccm-azure.yaml
  pkg/templates/images/images.go
  pkg/templates/images/resource_string.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Upgrade machine-controller to v1.35.0 (#1437)
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Azure CCM (#1438)
  addons/ccm-azure/ccm-azure.yaml
  pkg/templates/images/images.go
  pkg/templates/images/resource_string.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Explicitly enable DynamicKubeletConfig for kubernetes 1.22+
  addons/machinecontroller/machine-controller.yaml
  pkg/apis/kubeone/helpers.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Update machine-controller to v1.35.1
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Update images used by Prow jobs
  .prow.yaml
Due: none

Replace deprecated linters
  .golangci.yml
Due: none

kubeone-e2e: Go 1.16.7, remove k8s 1.18 binaries and add 1.22 binaries
  hack/images/kubeone-e2e/Dockerfile
  hack/images/kubeone-e2e/install-kube-tests-binaries.sh
  hack/images/kubeone-e2e/release.sh
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, ci-push-kubeone-e2e-image

Fix linter errors after updating linters
  pkg/apis/kubeone/v1alpha1/conversion.go
  pkg/features/podnodeselector.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Update images (#1441)
  .golangci.yml
  .prow.yaml
  hack/images/kubeone-e2e/Dockerfile
  hack/images/kubeone-e2e/install-kube-tests-binaries.sh
  hack/images/kubeone-e2e/release.sh
  pkg/apis/kubeone/v1alpha1/conversion.go
  pkg/features/podnodeselector.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, ci-push-kubeone-e2e-image

Redirect push-e2e-image job failures to the appropriate channel
  .prow.yaml
Due: none

Redirect push-e2e-image job failures to the appropriate channel (#1442)
  .prow.yaml
Due: none

Remove upx from the kubeone-e2e image
  hack/images/kubeone-e2e/Dockerfile
  hack/images/kubeone-e2e/install-kube-tests-binaries.sh
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, ci-push-kubeone-e2e-image

Update machine-controller to v1.35.1 (#1440)
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

terraform/vsphere: Inherit firmware settings from the template VM
  examples/terraform/vsphere/main.tf
Due: none

terraform/vsphere: Inherit firmware settings from the template VM (#1445)
  examples/terraform/vsphere/main.tf
Due: none

Remove upx from the kubeone-e2e image (#1443)
  hack/images/kubeone-e2e/Dockerfile
  hack/images/kubeone-e2e/install-kube-tests-binaries.sh
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, ci-push-kubeone-e2e-image

Extend restart API server script to handle failing crictl logs
  pkg/scripts/node.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Extend restart API server script to handle failing crictl logs (#1448)
  pkg/scripts/node.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Use kubeone-e2e:v0.1.17 image
  .prow.yaml
Due: none

Add 1.22 conformance and upgrade tests
  .prow.yaml
Due: none

Update Kubernetes versions used in tests
  .prow.yaml
Due: none

Update containerd tests to 1.18 and remove 1.18 upgrade tests
  .prow.yaml
Due: none

Use containerd for 1.22 tests
  .prow.yaml
Due: none

Disable deploying SSH key to Flatcar worker nodes
  .prow.yaml
Due: none

Add Kubernetes 1.22 tests and remove 1.18 tests (#1447)
  .prow.yaml
Due: none

Enable PodSecurity admission controller for 1.22 clusters
  pkg/kubeflags/data.go
  pkg/kubeflags/flags.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Enable PodSecurity admission controller for 1.22 clusters (#1456)
  pkg/kubeflags/data.go
  pkg/kubeflags/flags.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Port kubeadm bootstraptoken/v1 API
  pkg/apis/bootstraptoken/doc.go
  pkg/apis/bootstraptoken/v1/types.go
  pkg/apis/bootstraptoken/v1/utils.go
  pkg/apis/bootstraptoken/v1/zz_generated.deepcopy.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Port kubeadm/v1beta3 API
  pkg/apis/kubeadm/v1beta3/types.go
  pkg/apis/kubeadm/v1beta3/zz_generated.deepcopy.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Use kubeadm v1beta3 API for 1.22+ clusters
  pkg/templates/kubeadm/kubeadm.go
  pkg/templates/kubeadm/kubeadmv1beta3.go
  pkg/templates/kubeadm/v1beta3/kubeadm.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Move bootstraptoken package to apis/kubeadm package
  pkg/apis/kubeadm/bootstraptoken/doc.go
  pkg/apis/kubeadm/bootstraptoken/v1/types.go
  pkg/apis/kubeadm/bootstraptoken/v1/utils.go
  pkg/apis/kubeadm/bootstraptoken/v1/zz_generated.deepcopy.go
  pkg/apis/kubeadm/v1beta3/types.go
  pkg/apis/kubeadm/v1beta3/zz_generated.deepcopy.go
  pkg/templates/kubeadm/v1beta3/kubeadm.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Use kubeadm/v1beta3 API for Kubernetes 1.22+ clusters (#1457)
  pkg/apis/kubeadm/bootstraptoken/doc.go
  pkg/apis/kubeadm/bootstraptoken/v1/types.go
  pkg/apis/kubeadm/bootstraptoken/v1/utils.go
  pkg/apis/kubeadm/bootstraptoken/v1/zz_generated.deepcopy.go
  pkg/apis/kubeadm/v1beta3/types.go
  pkg/apis/kubeadm/v1beta3/zz_generated.deepcopy.go
  pkg/templates/kubeadm/kubeadm.go
  pkg/templates/kubeadm/kubeadmv1beta3.go
  pkg/templates/kubeadm/v1beta3/kubeadm.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Add changelog for v1.3.0-alpha.1 release
  CHANGELOG.md
Due: none

Add changelog for v1.3.0-alpha.1 release (#1460)
  CHANGELOG.md
Due: none

Add support for versioned images
  pkg/cmd/config-images.go
  pkg/state/context.go
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Add support for versioned images (#1463)
  pkg/cmd/config-images.go
  pkg/state/context.go
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Add missing RBAC rules to OpenStack CCM
  addons/ccm-openstack/ccm-openstack.yaml
Due: none

Deploy CSI plugin for supported clusters by default
  pkg/tasks/tasks.go
  pkg/templates/csi/csi.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Path conditions:
  pull-kubeone-e2e-aws-containerd-conformance-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.19: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.17-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.18-1.19: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.19-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.20-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/)
  ci-push-kubeone-e2e-image: any of: (hack/images/kubeone-e2e)
