Repository kubermatic/kubeone: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, ci-push-kubeone-e2e-image

pull-kubeone-e2e-aws-conformance-1.16:
  decorate: true
  labels:
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.10
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: TEST_CLUSTER_TARGET_VERSION
        value: 1.16.14
  ...

pull-kubeone-e2e-aws-conformance-1.17:
  decorate: true
  labels:
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.10
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: TEST_CLUSTER_TARGET_VERSION
        value: 1.17.11
  ...

pull-kubeone-e2e-aws-conformance-1.18:
  decorate: true
  labels:
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.10
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: TEST_CLUSTER_TARGET_VERSION
        value: 1.18.8
  ...

pull-kubeone-e2e-aws-conformance-1.19:
  decorate: true
  labels:
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.10
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: TEST_CLUSTER_TARGET_VERSION
        value: 1.19.0
  ...

pull-kubeone-e2e-aws-upgrade-1.16-1.17:
  decorate: true
  labels:
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.10
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: TEST_CLUSTER_INITIAL_VERSION
        value: 1.16.14
  ...

pull-kubeone-e2e-aws-upgrade-1.17-1.18:
  decorate: true
  labels:
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.10
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: TEST_CLUSTER_INITIAL_VERSION
        value: 1.17.11
  ...

pull-kubeone-e2e-aws-upgrade-1.18-1.19:
  decorate: true
  labels:
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.10
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: TEST_CLUSTER_INITIAL_VERSION
        value: 1.18.8
  ...

ci-push-kubeone-e2e-image:
  decorate: true
  labels:
    preset-docker-push: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/go-docker:13.3-1806-2
      command:
      - /bin/bash
      - -c
  ...

Review changes
  pkg/tasks/probes.go
  pkg/tasks/tasks.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Disable repo_gpgcheck for the Kubernetes yum repo
  pkg/scripts/os.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Update test fixtures
  pkg/scripts/testdata/TestKubeadmAmazonLinux-force.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-proxy.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-simple.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-force.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmCentOS-proxy.golden
  pkg/scripts/testdata/TestKubeadmCentOS-simple.golden
  pkg/scripts/testdata/TestKubeadmCentOS-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNICentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlCentOS.golden
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Disable repo_gpgcheck for the Kubernetes yum repo (#1304)
  pkg/scripts/os.go
  pkg/scripts/testdata/TestKubeadmAmazonLinux-force.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-proxy.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-simple.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-force.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmCentOS-proxy.golden
  pkg/scripts/testdata/TestKubeadmCentOS-simple.golden
  pkg/scripts/testdata/TestKubeadmCentOS-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNICentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlCentOS.golden
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Automate certificates renew (#1300)
  .prow.yaml
  pkg/cmd/apply.go
  pkg/state/cluster.go
  pkg/state/cluster_test.go
  pkg/tasks/certs.go
  pkg/tasks/certs_test.go
  pkg/tasks/preflight_checks.go
  pkg/tasks/probes.go
  pkg/tasks/tasks.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Remove e2e build tag
  hack/run-ci-e2e-test.sh
  test/e2e/conformance_test.go
  test/e2e/main_test.go
  test/e2e/upgrade_test.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Use KUBEONE_TEST_RUN to indicate actual E2E test to run
  .prow.yaml
  hack/run-ci-e2e-test.sh
  test/e2e/conformance_test.go
  test/e2e/upgrade_test.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Centralize checking env
  test/e2e/conformance_test.go
  test/e2e/main_test.go
  test/e2e/upgrade_test.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Add missing default to $TEST_TIMEOUT
  hack/run-ci-e2e-test.sh
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Remove e2e build tag (#1305)
  .prow.yaml
  hack/run-ci-e2e-test.sh
  test/e2e/conformance_test.go
  test/e2e/main_test.go
  test/e2e/upgrade_test.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Added 30 second delay in terraform output. This remove the need of terraform refresh to get publicIP for Azure control_plane VM. Also added variable for machine counts for master and worker nodes
  examples/terraform/azure/main.tf
  examples/terraform/azure/output.tf
  examples/terraform/azure/variables.tf
Due: none

Fixes as per review comments
  examples/terraform/azure/main.tf
  examples/terraform/azure/output.tf
  examples/terraform/azure/variables.tf
Due: none

Missed changing the variable name reference with new variable name earlier.
  examples/terraform/azure/output.tf
Due: none

[Azure] Added 30 second delay in output so that publicIP for Azure VM is available (#1306)
  examples/terraform/azure/main.tf
  examples/terraform/azure/output.tf
  examples/terraform/azure/variables.tf
Due: none

Add Kubernetes 1.21 binaries to the kubeone-e2e image
  hack/images/kubeone-e2e/install-kube-tests-binaries.sh
  hack/images/kubeone-e2e/release.sh
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, ci-push-kubeone-e2e-image

Use kubeone-e2e image to v0.1.15
  .prow.yaml
Due: none

Add presubmits for Kubernetes 1.21
  .prow.yaml
Due: none

Update Kubernetes patch releases for presubmits
  .prow.yaml
Due: none

Update Kubernetes binaries for other releases
  hack/images/kubeone-e2e/install-kube-tests-binaries.sh
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, ci-push-kubeone-e2e-image

Add Kubernetes 1.21 binaries to the kubeone-e2e image (#1311)
  hack/images/kubeone-e2e/install-kube-tests-binaries.sh
  hack/images/kubeone-e2e/release.sh
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, ci-push-kubeone-e2e-image

Add Kubernetes 1.21 presubmits (#1312)
  .prow.yaml
Due: none

Test commit
  README.md
Due: none

use spot instances in AWS by default
  examples/terraform/aws/output.tf
  examples/terraform/aws/variables.tf
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

update AWS terraform README
  examples/terraform/aws/README.md
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Switch spot instances off by default
  .prow.yaml
  examples/terraform/aws/variables.tf
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Update AWS README
  examples/terraform/aws/README.md
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Fix typo
  examples/terraform/aws/README.md
  examples/terraform/aws/variables.tf
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Fix prow TF_VAR_initial_machinedeployment_spotinstances
  .prow.yaml
Due: none

Declare initial_machinedeployment_spotinstances as boolean
  examples/terraform/aws/variables.tf
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Revert "Fix prow TF_VAR_initial_machinedeployment_spotinstances"
  .prow.yaml
Due: none

Use spot instances for E2E on AWS (#1310)
  .prow.yaml
  examples/terraform/aws/README.md
  examples/terraform/aws/output.tf
  examples/terraform/aws/variables.tf
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

format .prow.yaml with YQ
  .prow.yaml
  Makefile
  hack/run-ci-e2e-test.sh
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

remove dead code
  pkg/cmd/apply.go
  pkg/tasks/tasks.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

review comment
  pkg/scripts/configs.go
  pkg/tasks/encryption_providers.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

add support for Encryption Providers
  docs/api_reference/v1beta1.en.md
  docs/proposals/20210112-encryption-roviders.md
  go.mod
  go.sum
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1alpha1/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta1/types.go
  pkg/apis/kubeone/v1beta1/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta1/zz_generated.deepcopy.go
  pkg/apis/kubeone/zz_generated.deepcopy.go
  pkg/cmd/apply.go
  pkg/cmd/config.go
  pkg/features/activate.go
  pkg/features/encryption_providers.go
  pkg/scripts/configs.go
  pkg/scripts/kubeadm.go
  pkg/scripts/node.go
  pkg/scripts/testdata/TestKubeadmReset-not-verbose.golden
  pkg/scripts/testdata/TestKubeadmReset-verbose.golden
  pkg/state/cluster.go
  pkg/state/context.go
  pkg/tasks/encryption_providers.go
  pkg/tasks/nodes.go
  pkg/tasks/prerequisites.go
  pkg/tasks/probes.go
  pkg/tasks/task.go
  pkg/tasks/tasks.go
  pkg/templates/encryptionproviders/encryption_providers.go
  pkg/templates/kubeadm/v1beta1/kubeadm.go
  pkg/templates/kubeadm/v1beta2/kubeadm.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

fix conversion
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1alpha1/conversion.go
  pkg/apis/kubeone/v1alpha1/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta1/zz_generated.conversion.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

New CABundle API field
  docs/api_reference/v1beta1.en.md
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1alpha1/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta1/types.go
  pkg/apis/kubeone/v1beta1/zz_generated.conversion.go
  pkg/cmd/config.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Validate CABundle
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/validation/validation_test.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Hide unneeded internals from machinecontroller package
  pkg/cmd/version.go
  pkg/templates/machinecontroller/deployment.go
  pkg/templates/machinecontroller/helper.go
  pkg/templates/machinecontroller/webhook.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

CABundleInjector
  pkg/certificate/ca-bundle.go
  pkg/tasks/certs.go
  pkg/tasks/tasks.go
  pkg/templates/externalccm/openstack.go
  pkg/templates/externalccm/vsphere.go
  pkg/templates/kubeadm/v1beta2/kubeadm.go
  pkg/templates/machinecontroller/deployment.go
  pkg/templates/machinecontroller/webhook.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Path conditions:
  pull-kubeone-e2e-aws-conformance-1.16: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.17: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.19: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.16-1.17: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.17-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.18-1.19: any of: (pkg/|examples/terraform/aws|hack/|test/)
  ci-push-kubeone-e2e-image: any of: (hack/images/kubeone-e2e)
