Repository kubermatic/kubeone: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, ci-push-kubeone-e2e-image

Path conditions:
  pull-kubeone-e2e-aws-conformance-1.16: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.17: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.19: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.16-1.17: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.17-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.18-1.19: any of: (pkg/|examples/terraform/aws|hack/|test/)
  ci-push-kubeone-e2e-image: any of: (hack/images/kubeone-e2e)

Update the kubeone-e2e image (#1239)
  hack/images/kubeone-e2e/Dockerfile
  hack/images/kubeone-e2e/install-kube-tests-binaries.sh
  hack/images/kubeone-e2e/release.sh
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, ci-push-kubeone-e2e-image

Update machine-controller to v1.25.0 (#1238)
  pkg/templates/machinecontroller/deployment.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

updated custom config
  docs/proposals/20210112-encryption-roviders.md
Due: none

Add rsync on CentOS and Amazon Linux
  pkg/scripts/os.go
  pkg/scripts/testdata/TestKubeadmAmazonLinux-force.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-proxy.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-simple.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-force.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmCentOS-proxy.golden
  pkg/scripts/testdata/TestKubeadmCentOS-simple.golden
  pkg/scripts/testdata/TestKubeadmCentOS-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNICentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlCentOS.golden
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Add rsync on CentOS and Amazon Linux (#1240)
  pkg/scripts/os.go
  pkg/scripts/testdata/TestKubeadmAmazonLinux-force.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-proxy.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-simple.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-force.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmCentOS-proxy.golden
  pkg/scripts/testdata/TestKubeadmCentOS-simple.golden
  pkg/scripts/testdata/TestKubeadmCentOS-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNICentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlCentOS.golden
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Add the Kubernetes 1.20 jobs
  .prow.yaml
Due: none

Restart unhealthy API servers when provisioning/upgrading clusters
  pkg/scripts/node.go
  pkg/tasks/nodes.go
  pkg/tasks/tasks.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Restart unhealthy API servers when provisioning/upgrading clusters (#1243)
  pkg/scripts/node.go
  pkg/tasks/nodes.go
  pkg/tasks/tasks.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Add the Kubernetes 1.20 jobs (#1244)
  .prow.yaml
Due: none

Use Docker for restarting API server on Flatcar
  pkg/scripts/node.go
  pkg/tasks/nodes.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Use Docker for restarting API server on Flatcar (#1245)
  pkg/scripts/node.go
  pkg/tasks/nodes.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Add encryption providers proposal (#1213)
  docs/proposals/20210112-encryption-roviders.md
Due: none

fix(docs): fix broken master documentation link
  README.md
Due: none

fix(docs): fix broken master documentation link (#1246)
  README.md
Due: none

Fix credentials in addons
  pkg/addons/addons.go
  pkg/credentials/credentials.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Fix credentials in addons (#1248)
  pkg/addons/addons.go
  pkg/credentials/credentials.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Add the changelog for the v1.2.0-beta.1 release
  CHANGELOG.md
Due: none

Add the changelog for the v1.2.0-beta.1 release (#1249)
  CHANGELOG.md
Due: none

Update README.md
  README.md
Due: none

Update README.md (#1250)
  README.md
Due: none

Improve the installation script
  README.md
  install.sh
Due: none

Improve the installation script (#1253)
  README.md
  install.sh
Due: none

warn of explicit confirmation for reset
  pkg/cmd/reset.go
  test/e2e/kubeone.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

warn of explicit confirmation for reset (#1252)
  pkg/cmd/reset.go
  test/e2e/kubeone.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Add the changelog for the v1.2.0-rc.0 release
  CHANGELOG.md
Due: none

Add the changelog for the v1.2.0-rc.0 release (#1264)
  CHANGELOG.md
Due: none

Add a template for the release cut issue
  .github/ISSUE_TEMPLATE/release.md
Due: none

Add a template for the release cut issue (#1266)
  .github/ISSUE_TEMPLATE/release.md
Due: none

Update the kubeone-e2e image and build jobs to Go 1.16.1
  .prow.yaml
  hack/images/kubeone-e2e/Dockerfile
  hack/images/kubeone-e2e/release.sh
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, ci-push-kubeone-e2e-image

Update the wwhrd configuration
  .wwhrd.yml
Due: none

Update the kubeone-e2e image and build jobs to Go 1.16.1 (#1267)
  .prow.yaml
  .wwhrd.yml
  hack/images/kubeone-e2e/Dockerfile
  hack/images/kubeone-e2e/release.sh
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, ci-push-kubeone-e2e-image

Update E2E tests to use Go 1.16.1
  .prow.yaml
Due: none

Update build jobs and E2E tests to use Go 1.16.1
  .prow.yaml
  .wwhrd.yml
Due: none

Update E2E tests to use Go 1.16.1 (#1268)
  .prow.yaml
Due: none

Add the changelog for the v1.2.0-rc.1 release
  CHANGELOG.md
Due: none

Add the changelog for the v1.2.0-rc.1 release (#1270)
  CHANGELOG.md
Due: none

Add the changelog for the v1.2.0-rc.1 release (#1271)
  CHANGELOG.md
Due: none

Upgrade machinecontroller to v1.27.0
  pkg/templates/machinecontroller/deployment.go
  pkg/templates/machinecontroller/webhook.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Add new machine-controller image in image-loader
  hack/image-loader.sh
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19
