Repository kubermatic/kubeone: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, post-kubeone-push-e2e-image, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

pull-kubeone-verify-apidocs:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.5
      command:
      - make
      args:
      - verify-apidocs
      resources:
        requests:
          memory: 512Mi
          cpu: 500m
        limits:
          memory: 1Gi
          cpu: 1

pull-kubeone-e2e-aws-containerd-conformance-1.20:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

pull-kubeone-e2e-aws-conformance-1.20:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
  ...

pull-kubeone-e2e-aws-conformance-1.21:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: TEST_CLUSTER_TARGET_VERSION
  ...

pull-kubeone-e2e-aws-conformance-1.22:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

pull-kubeone-e2e-aws-conformance-1.23:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

pull-kubeone-e2e-aws-conformance-1.23-v1beta1:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

Increase the minimum Kubernetes version to v1.22.0
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/validation/validation_test.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Remove images used for Kubernetes v1.21 and v1.20
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Remove Kubernetes 1.21 tests
  .prow/1.21.yaml
  testv2/README.md
  testv2/e2e/prow.yaml
  testv2/e2e/tests_test.go
  testv2/tests.yml
Due: none

Remove policy/v1beta1 PDBs
  addons/ccm-azure/poddisruptionbudget.yaml
  addons/ccm-digitalocean/poddisruptionbudget.yaml
  addons/ccm-equinixmetal/poddisruptionbudget.yaml
  addons/ccm-hetzner/poddisruptionbudget.yaml
  addons/cluster-autoscaler/poddisruptionbudget.yaml
  addons/cni-cilium/poddisruptionbudgets.yaml
  addons/coredns-pdb/poddisruptionbudget.yaml
  addons/csi-aws-ebs/poddisruptionbudget-controller.yaml
  addons/csi-azuredisk/poddisruptionbudgets.yaml
  addons/csi-azurefile/poddisruptionbudgets.yaml
  addons/csi-digitalocean/poddisruptionbudgets.yaml
  addons/csi-nutanix/poddisruptionbudget.yaml
  addons/csi-vsphere/poddisruptionbudgets.yaml
  addons/machinecontroller/poddisruptionbudgets.yaml
  addons/metrics-server/poddisruptionbudget.yaml
  addons/operating-system-manager/poddisruptionbudgets.yaml
  addons/unattended-upgrades/poddisruptionbudget.yaml
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Remove <= 1.22 logic from Cinder CSI addon
  addons/csi-openstack-cinder/controllerplugin.yaml
  addons/csi-openstack-cinder/nodeplugin.yaml
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Remove kubeadm v1beta2 API
  pkg/apis/kubeadm/v1beta2/bootstraptokenstring.go
  pkg/apis/kubeadm/v1beta2/types.go
  pkg/apis/kubeadm/v1beta2/zz_generated.deepcopy.go
  pkg/tasks/certs.go
  pkg/templates/kubeadm/kubeadm.go
  pkg/templates/kubeadm/kubeadmv1beta2.go
  pkg/templates/kubeadm/v1beta2/kubeadm.go
  pkg/templates/kubeadm/v1beta3/kubeadm.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Remove legacy Docker version
  pkg/scripts/funcs.go
  pkg/scripts/render.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Remove default admission controllers for legacy k8s versions
  pkg/kubeflags/data.go
  pkg/kubeflags/flags.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Simplify containerRuntime defaulting
  pkg/apis/kubeone/v1beta1/defaults.go
  pkg/apis/kubeone/v1beta2/defaults.go
  pkg/apis/kubeone/validation/validation.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Replace Kubernetes 1.20/1.21 with 1.22
  addons/calico-vxlan/README.md
  pkg/cmd/config.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Fix lint errors and gofmt
  pkg/kubeflags/flags.go
  pkg/templates/kubeadm/v1beta3/kubeadm.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Fix failing unit test
  pkg/apis/kubeone/validation/validation_test.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

testv2: update Kubernetes versions
  testv2/e2e/prow.yaml
  testv2/e2e/tests_test.go
  testv2/tests.yml
Due: none

testv2: Add CentOS and RockyLinux tests for DigitalOcean
  testv2/e2e/prow.yaml
  testv2/e2e/tests_definitions.go
  testv2/e2e/tests_test.go
  testv2/tests.yml
Due: none

testv2: Add CentOS, RockyLinux, and Flatcar tests for Equinix Metal
  examples/terraform/equinixmetal/variables.tf
  testv2/e2e/prow.yaml
  testv2/e2e/tests_definitions.go
  testv2/e2e/tests_test.go
  testv2/tests.yml
Due: none

testv2: Add CentOS and RockyLinux tests for Hetzner
  testv2/e2e/prow.yaml
  testv2/e2e/tests_definitions.go
  testv2/e2e/tests_test.go
  testv2/tests.yml
Due: none

testv2: Add tests for all operating systems on OpenStack
  testv2/e2e/prow.yaml
  testv2/e2e/testdata/openstack_centos.tfvars
  testv2/e2e/testdata/openstack_flatcar.tfvars
  testv2/e2e/testdata/openstack_rhel.tfvars
  testv2/e2e/testdata/openstack_rockylinux.tfvars
  testv2/e2e/testdata/openstack_ubuntu.tfvars
  testv2/e2e/tests_definitions.go
  testv2/e2e/tests_test.go
  testv2/tests.yml
Due: none

testv2: Rename aws_defaults to aws_default
  testv2/e2e/tests_definitions.go
  testv2/tests.yml
Due: none

testv2: Add additional scenarios for non-OSM and external
  testv2/e2e/prow.yaml
  testv2/e2e/testdata/legacy_machine_controller_userdata_external.yaml
  testv2/e2e/tests_definitions.go
  testv2/e2e/tests_test.go
  testv2/tests.yml
Due: none

testv2: Add additional scenarios for non-OSM and Docker
  testv2/e2e/prow.yaml
  testv2/e2e/testdata/legacy_machine_controller_containerd.yaml
  testv2/e2e/testdata/legacy_machine_controller_containerd_external.yaml
  testv2/e2e/testdata/legacy_machine_controller_docker.yaml
  testv2/e2e/tests_definitions.go
  testv2/e2e/tests_test.go
  testv2/tests.yml
Due: none

testv2: Add additional scenarios for non-OSM, Docker, and external
  testv2/e2e/prow.yaml
  testv2/e2e/testdata/legacy_machine_controller_docker_external.yaml
  testv2/e2e/tests_definitions.go
  testv2/e2e/tests_test.go
  testv2/tests.yml
Due: none

testv2: Add upgrade scenarios from v1.21.14 to v1.22.12
  testv2/e2e/prow.yaml
  testv2/e2e/tests_test.go
  testv2/tests.yml
Due: none

testv2: Add additional test scenarios (#2237)
  examples/terraform/equinixmetal/variables.tf
  testv2/e2e/prow.yaml
  testv2/e2e/testdata/legacy_machine_controller_containerd.yaml
  testv2/e2e/testdata/legacy_machine_controller_containerd_external.yaml
  testv2/e2e/testdata/legacy_machine_controller_docker.yaml
  testv2/e2e/testdata/legacy_machine_controller_docker_external.yaml
  testv2/e2e/testdata/openstack_centos.tfvars
  testv2/e2e/testdata/openstack_flatcar.tfvars
  testv2/e2e/testdata/openstack_rhel.tfvars
  testv2/e2e/testdata/openstack_rockylinux.tfvars
  testv2/e2e/testdata/openstack_ubuntu.tfvars
  testv2/e2e/tests_definitions.go
  testv2/e2e/tests_test.go
  testv2/tests.yml
Due: none

Unified PR template update
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Mark `install` and `upgrade` subcommands deprecated
  pkg/cmd/install.go
  pkg/cmd/upgrade.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Mark `install` and `upgrade` subcommands deprecated (#2258)
  pkg/cmd/install.go
  pkg/cmd/upgrade.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

testv2: Fix upgrade tests getting stuck
  testv2/e2e/scenario_upgrade.go
Due: none

testv2: Implement cloud provider tests
  testv2/e2e/cloudprovider.go
  testv2/e2e/helpers.go
  testv2/e2e/scenario_conformance.go
  testv2/e2e/scenario_install.go
  testv2/e2e/scenario_migrate_csi_ccm.go
  testv2/e2e/scenario_upgrade.go
  testv2/e2e/tests_definitions.go
Due: none

Added main tips back
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Unified PR template update (#2259)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

testv2: Port cloud provider tests (#2177)
  testv2/e2e/cloudprovider.go
  testv2/e2e/helpers.go
  testv2/e2e/scenario_conformance.go
  testv2/e2e/scenario_install.go
  testv2/e2e/scenario_migrate_csi_ccm.go
  testv2/e2e/scenario_upgrade.go
  testv2/e2e/tests_definitions.go
Due: none

testv2: Replace nginx with echoserver
  testv2/e2e/cloudprovider.go
Due: none

testv2/upgrade: Wait for nodes to become ready before upgrading
  testv2/e2e/scenario_upgrade.go
Due: none

testv2: Replace nginx with echoserver (#2260)
  testv2/e2e/cloudprovider.go
Due: none

testv2/upgrade: Wait for nodes to become ready before upgrading (#2261)
  testv2/e2e/scenario_upgrade.go
Due: none

testv2: Fix mode name for Sonobuoy conformance tests
  testv2/e2e/sonobuoy.go
Due: none

Rollback to CentOS 7 in Terraform configs for AWS
  examples/terraform/aws/README.md
  examples/terraform/aws/variables.tf
  testv2/e2e/tests_definitions.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Rollback to CentOS 7 in Terraform configs for AWS (#2264)
  examples/terraform/aws/README.md
  examples/terraform/aws/variables.tf
  testv2/e2e/tests_definitions.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Path conditions:
  pull-kubeone-verify-apidocs: any of: (pkg/apis/kubeone|hack/)
  pull-kubeone-e2e-aws-containerd-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.22: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.23: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.23-v1beta1: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.19-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.20-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.21-1.22: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.22-1.23: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  post-kubeone-push-e2e-image: any of: (hack/images/kubeone-e2e)
  pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
