Repository kubermatic/kubeone: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, post-kubeone-push-e2e-image

Path conditions:
  pull-kubeone-verify-apidocs: any of: (pkg/apis/kubeone|hack/)
  pull-kubeone-e2e-aws-containerd-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.22: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.23: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.23-v1beta1: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.19-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.20-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.21-1.22: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.22-1.23: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  post-kubeone-push-e2e-image: any of: (hack/images/kubeone-e2e)

Test
  README.md
Due: none

Add openstack snapshot crd
  addons/csi-openstack-cinder/snapshot-crds.yaml
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23

Add openstack snapshot crd (#1871)
  addons/csi-openstack-cinder/snapshot-crds.yaml
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23

Add the template changelog
  hack/changelog.tpl
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23

Add a script for generating the changelog
  hack/generate-changelog.sh
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23

Add the kubeone config merge command
  pkg/cmd/config-dump.go
  pkg/cmd/config.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23

Add the kubeone config merge command (#1874)
  pkg/cmd/config-dump.go
  pkg/cmd/config.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23

Add a script for generating the changelog (#1873)
  hack/changelog.tpl
  hack/generate-changelog.sh
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23

Build and upload GOCACHE for arm64
  .prow.yaml
Due: none

Build and upload GOCACHE for arm64 (#1876)
  .prow.yaml
Due: none

Add APIVersion and Kind to manifest generated by config dump
  pkg/cmd/config-dump.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23

Add Dockerfile for KubeOne image
  Dockerfile
Due: none

Add APIVersion and Kind to manifest generated by config dump (#1877)
  pkg/cmd/config-dump.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23

Add script for building and pushing KubeOne image
  Dockerfile
  hack/ci/download-gocache.sh
  hack/ci/push-image.sh
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23

Add jobs for building the KubeOne image
  .prow.yaml
Due: none

Address review comments
  Dockerfile
Due: none

Build KubeOne container image (#1875)
  .prow.yaml
  Dockerfile
  hack/ci/download-gocache.sh
  hack/ci/push-image.sh
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23

Run push-image postsubmit in the nomock mode
  .prow.yaml
Due: none

Run push-image postsubmit in the nomock mode (#1878)
  .prow.yaml
Due: none

Run docker login when pushing images
  .prow.yaml
Due: none

Remove credentials preset from presubmit
  .prow.yaml
Due: none

Run docker login when pushing images (#1879)
  .prow.yaml
Due: none

Update secret name for backup-restic addon to backup-restic-s3-credentials
  .gitignore
  addons/backups-restic/README.md
  addons/backups-restic/backups-restic.yaml
  go.mod
  go.sum
  pkg/kubeconfig/kubeconfig.go
  pkg/tasks/cni.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23

Refactored code
  addons/backups-restic/README.md
  addons/backups-restic/backups-restic.yaml
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23

Update secret name for backup-restic addon to backup-restic-s3-credentials (#1880)
  .gitignore
  addons/backups-restic/README.md
  addons/backups-restic/backups-restic.yaml
  go.mod
  go.sum
  pkg/kubeconfig/kubeconfig.go
  pkg/tasks/cni.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23

Use a pointer to KubeOneCluster in AssetConfig defaulting
  pkg/apis/kubeone/helpers.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23

Use a pointer to KubeOneCluster in AssetConfig defaulting (#1884)
  pkg/apis/kubeone/helpers.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23

Use a pointer to KubeOneCluster in AssetConfig defaulting (#1885)
  pkg/apis/kubeone/helpers.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23

Approve pending CSRs when upgrading nodes
  pkg/tasks/upgrade_follower.go
  pkg/tasks/upgrade_leader.go
  pkg/tasks/upgrade_static_workers.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23

Approve pending CSRs when upgrading nodes (#1887)
  pkg/tasks/upgrade_follower.go
  pkg/tasks/upgrade_leader.go
  pkg/tasks/upgrade_static_workers.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23

New fail package with error types
  pkg/fail/errors.go
  pkg/fail/helpers.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23

Start using new pkg/fail to return errors
  pkg/apis/kubeone/helpers.go
  pkg/clusterstatus/etcdstatus/etcdstatus.go
  pkg/etcdutil/etcd.go
  pkg/kubeconfig/kubeconfig.go
  pkg/ssh/connection.go
  pkg/ssh/connector.go
  pkg/ssh/sshtunnel/etcd.go
  pkg/tasks/probes.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23

Approve pending CSRs when upgrading nodes (#1888)
  pkg/tasks/upgrade_follower.go
  pkg/tasks/upgrade_leader.go
  pkg/tasks/upgrade_static_workers.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23

CredentialsError
  pkg/addons/helpers.go
  pkg/apis/kubeone/config/config.go
  pkg/apis/kubeone/helpers.go
  pkg/cmd/apply.go
  pkg/cmd/shared.go
  pkg/credentials/credentials.go
  pkg/fail/errors.go
  pkg/fail/helpers.go
  pkg/state/context.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23

Use SilenceErrors to complete control of the error output
  pkg/cmd/addons.go
  pkg/cmd/apply.go
  pkg/cmd/config-dump.go
  pkg/cmd/config-images.go
  pkg/cmd/config.go
  pkg/cmd/install.go
  pkg/cmd/kubeconfig.go
  pkg/cmd/status.go
  pkg/cmd/upgrade.go
  pkg/cmd/version.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23

Assign exitcodes to different error types
  pkg/fail/errors.go
  pkg/fail/exitcodes.go
  pkg/fail/helpers.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23

Handle error and exit code
  pkg/cmd/root.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23

Move some old errors to new fail types
  pkg/addons/applier.go
  pkg/apis/kubeone/config/config.go
  pkg/apis/kubeone/v1beta1/helpers.go
  pkg/apis/kubeone/v1beta2/helpers.go
  pkg/cmd/addons.go
  pkg/cmd/apply.go
  pkg/cmd/root.go
  pkg/fail/exitcodes.go
  pkg/ssh/connector.go
  pkg/terraform/v1beta1/config.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23
