Repository kubermatic/kubeone: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, post-kubeone-push-e2e-image, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

pull-kubeone-verify-apidocs:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.5
      command:
      - make
      args:
      - verify-apidocs
      resources:
        requests:
          memory: 512Mi
          cpu: 500m
        limits:
          memory: 1Gi
          cpu: 1

pull-kubeone-e2e-aws-containerd-conformance-1.20:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

pull-kubeone-e2e-aws-conformance-1.20:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
  ...

pull-kubeone-e2e-aws-conformance-1.21:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: TEST_CLUSTER_TARGET_VERSION
  ...

pull-kubeone-e2e-aws-conformance-1.22:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

pull-kubeone-e2e-aws-conformance-1.23:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

pull-kubeone-e2e-aws-conformance-1.23-v1beta1:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

remove additional apt-get update
  pkg/scripts/os_debian.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

fix: debian apt-get update running before configuring repositories
  pkg/scripts/os_debian.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

remove old kubernetes.list from apt sources
  pkg/scripts/os_debian.go
  pkg/scripts/testdata/TestKubeadmDebian-cilium_cluster.golden
  pkg/scripts/testdata/TestKubeadmDebian-nutanix_cluster.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIDebian.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlDebian.golden
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

update testdata
  pkg/scripts/testdata/TestKubeadmDebian-cilium_cluster.golden
  pkg/scripts/testdata/TestKubeadmDebian-nutanix_cluster.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIDebian.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlDebian.golden
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

fix typos
  pkg/scripts/os_debian.go
  pkg/scripts/testdata/TestKubeadmDebian-cilium_cluster.golden
  pkg/scripts/testdata/TestKubeadmDebian-nutanix_cluster.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIDebian.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlDebian.golden
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Update fixtures
  pkg/scripts/testdata/TestKubeadmDebian-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmDebian-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmDebian-simple.golden
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

New API to configure TLS cipher suites for kube-apiserver, etcd and kubelet (#3081)
  docs/api_reference/v1beta2.en.md
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta1/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta2/defaults.go
  pkg/apis/kubeone/v1beta2/types.go
  pkg/apis/kubeone/v1beta2/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta2/zz_generated.deepcopy.go
  pkg/apis/kubeone/zz_generated.deepcopy.go
  pkg/cmd/config.go
  pkg/templates/kubeadm/v1beta3/kubeadm.go
  pkg/templates/kubeadm/v1beta3/kubeadm_test.go
  pkg/templates/kubernetesconfigs/kubelet.go
  pkg/templates/kubernetesconfigs/tls.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

[release/v1.6] fix: debian apt-get update running before configuring repositories (#3083)
  pkg/scripts/os_debian.go
  pkg/scripts/testdata/TestKubeadmDebian-cilium_cluster.golden
  pkg/scripts/testdata/TestKubeadmDebian-nutanix_cluster.golden
  pkg/scripts/testdata/TestKubeadmDebian-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmDebian-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmDebian-simple.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIDebian.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlDebian.golden
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

[release/v1.7] fix: debian apt-get update running before configuring repositories (#3084)
  pkg/scripts/os_debian.go
  pkg/scripts/testdata/TestKubeadmDebian-cilium_cluster.golden
  pkg/scripts/testdata/TestKubeadmDebian-nutanix_cluster.golden
  pkg/scripts/testdata/TestKubeadmDebian-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmDebian-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmDebian-simple.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIDebian.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlDebian.golden
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Update cluster-autoscaler with scale from zero instructions
  addons/cluster-autoscaler/README.md
  addons/cluster-autoscaler/cluster-autoscaler.yaml
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Update cluster-autoscaler with scale from zero instructions (#3086)
  addons/cluster-autoscaler/README.md
  addons/cluster-autoscaler/cluster-autoscaler.yaml
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Follow up kubernets 1.29 support fixes
  pkg/apis/kubeone/v1beta2/defaults.go
  pkg/apis/kubeone/validation/validation.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Follow up kubernets 1.29 support fixes (#3087)
  pkg/apis/kubeone/v1beta2/defaults.go
  pkg/apis/kubeone/validation/validation.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

E2E test upgrades of 1.28+ with main branch
  .prow/generated.yaml
  test/e2e/tests_test.go
  test/tests.yml
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

add preflight check for hostnames
  pkg/tasks/preflight_checks.go
  pkg/tasks/preflight_checks_test.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

E2E test upgrades of 1.28+ with main branch (#3090)
  .prow/generated.yaml
  test/e2e/tests_test.go
  test/tests.yml
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Update cilium to v1.15
  addons/.gitignore
  addons/ccm-nutanix/.gitignore
  addons/cni-cilium/Kustomization
  addons/cni-cilium/README.md
  addons/cni-cilium/cilium-config-map.yaml
  addons/cni-cilium/cilium.yaml
  addons/cni-cilium/helm-values
  addons/cni-cilium/hubble.yaml
  addons/csi-nutanix/.gitignore
  addons/metrics-server/.gitignore
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Fix lack of ability to set Capabilities when using helm template inflation
  addons/cni-cilium/Kustomization
  addons/cni-cilium/cilium.yaml
  addons/cni-cilium/helm-values
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Add 1.29 cilium e2e tests
  .prow/generated.yaml
  test/e2e/tests_test.go
  test/tests.yml
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Update cilium to v1.15 (#3089)
  .prow/generated.yaml
  addons/.gitignore
  addons/ccm-nutanix/.gitignore
  addons/cni-cilium/Kustomization
  addons/cni-cilium/README.md
  addons/cni-cilium/cilium-config-map.yaml
  addons/cni-cilium/cilium.yaml
  addons/cni-cilium/helm-values
  addons/cni-cilium/hubble.yaml
  addons/csi-nutanix/.gitignore
  addons/metrics-server/.gitignore
  pkg/templates/images/images.go
  test/e2e/tests_test.go
  test/tests.yml
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Update VCD CSI driver to 1.6.0
  addons/csi-vmware-cloud-director/Kustomization
  addons/csi-vmware-cloud-director/driver.yaml
  pkg/templates/images/images.go
  pkg/templates/images/resource_string.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Update VCD CSI driver to 1.6.0 (#3094)
  addons/csi-vmware-cloud-director/Kustomization
  addons/csi-vmware-cloud-director/driver.yaml
  pkg/templates/images/images.go
  pkg/templates/images/resource_string.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

add preflight check for hostnames (#3091)
  pkg/tasks/preflight_checks.go
  pkg/tasks/preflight_checks_test.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Migrate InTreePluginXXXUnregister to DisableCloudProviders
  addons/ccm-gcp/Kustomization
  addons/ccm-gcp/ccm-gcp.yaml
  pkg/apis/kubeone/helpers.go
  pkg/apis/kubeone/validation/validation.go
  pkg/cmd/migrate.go
  pkg/state/context_test.go
  pkg/tasks/probes.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Enable CSIMigrationEnabled internal state for all original in-tree cloud providers
  pkg/apis/kubeone/helpers.go
  pkg/cmd/migrate.go
  pkg/tasks/probes.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Add some comments to tricky CSIMigration code
  pkg/apis/kubeone/helpers.go
  pkg/tasks/probes.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Fixed linter
  pkg/state/context_test.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Update CSI feature gates (#3075)
  addons/ccm-gcp/Kustomization
  addons/ccm-gcp/ccm-gcp.yaml
  pkg/apis/kubeone/helpers.go
  pkg/apis/kubeone/validation/validation.go
  pkg/cmd/migrate.go
  pkg/state/context_test.go
  pkg/tasks/probes.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Force node-role.kubernetes.io/control-plane label on control-plane Nodes
  pkg/tasks/nodes.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Use const instead of string literal for node-role.kubernetes.io/control-plane
  pkg/tasks/nodes.go
  pkg/tasks/probes.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Fix kubelet file permissions according to CIS 1.8
  pkg/tasks/files.go
  pkg/tasks/tasks.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

update terraform example files to have an option for internal network only
  examples/terraform/azure/README.md
  examples/terraform/azure/etc_gobetween.tpl
  examples/terraform/azure/gobetween.sh
  examples/terraform/azure/main.tf
  examples/terraform/azure/output.tf
  examples/terraform/azure/variables.tf
Due: none

Wait for Nodes to be Ready before fixing modes of files
  pkg/addons/manifest.go
  pkg/tasks/files.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Fix linter
  pkg/tasks/files.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Added some code comment why we have to wait for Nodes to be Ready
  pkg/tasks/files.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Fix kubelet file permissions according to CIS 1.8 (#3100)
  pkg/addons/manifest.go
  pkg/tasks/files.go
  pkg/tasks/tasks.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Force node-role.kubernetes.io/control-plane label on control-plane Nodes (#3099)
  pkg/tasks/nodes.go
  pkg/tasks/probes.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Initialize host.Labels to avoid NPE
  pkg/tasks/nodes.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Path conditions:
  pull-kubeone-verify-apidocs: any of: (pkg/apis/kubeone|hack/)
  pull-kubeone-e2e-aws-containerd-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.22: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.23: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.23-v1beta1: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.19-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.20-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.21-1.22: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.22-1.23: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  post-kubeone-push-e2e-image: any of: (hack/images/kubeone-e2e)
  pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
