Repository kubermatic/kubeone: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, ci-push-kubeone-e2e-image

Path conditions:
  pull-kubeone-e2e-aws-conformance-1.16: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.17: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.19: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.16-1.17: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.17-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.18-1.19: any of: (pkg/|examples/terraform/aws|hack/|test/)
  ci-push-kubeone-e2e-image: any of: (hack/images/kubeone-e2e)

Upgrade machinecontroller to v1.27.0 (#1272)
  hack/image-loader.sh
  pkg/templates/machinecontroller/deployment.go
  pkg/templates/machinecontroller/webhook.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Test commit
  README.md
Due: none

shfmt
  Makefile
  hack/apidoc-gen.sh
  hack/images/kubeone-e2e/install-kube-tests-binaries.sh
  hack/run-ci-e2e-test.sh
  hack/update-codegen.sh
  hack/verify-codegen.sh
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, ci-push-kubeone-e2e-image

Add the changelog for the v1.2.0 release
  CHANGELOG.md
Due: none

shfmt (#1274)
  Makefile
  hack/apidoc-gen.sh
  hack/images/kubeone-e2e/install-kube-tests-binaries.sh
  hack/run-ci-e2e-test.sh
  hack/update-codegen.sh
  hack/verify-codegen.sh
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, ci-push-kubeone-e2e-image

Use machinecontroller v1.27.1 to fix issue with flatcar
  hack/image-loader.sh
  pkg/templates/machinecontroller/deployment.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Use machinecontroller v1.27.1 to fix issue with flatcar (#1276)
  hack/image-loader.sh
  pkg/templates/machinecontroller/deployment.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Dependencies upgrades
  go.mod
  go.sum
  pkg/clientutil/create_or_update.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Adjust function signatures to controller-runtime v0.7
  pkg/features/psp.go
  pkg/tasks/etcd.go
  pkg/templates/canal/canal.go
  pkg/templates/externalccm/digitalocean.go
  pkg/templates/externalccm/hetzner.go
  pkg/templates/externalccm/openstack.go
  pkg/templates/externalccm/packet.go
  pkg/templates/externalccm/vsphere.go
  pkg/templates/machinecontroller/deployment.go
  pkg/templates/machinecontroller/webhook.go
  pkg/templates/metricsserver/deployment.go
  pkg/templates/nodelocaldns/nodelocaldns.go
  pkg/templates/weave/weave-net.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Make lint happy
  .golangci.yml
  pkg/tasks/etcd.go
  pkg/templates/machinecontroller/deployment.go
  test/e2e/conformance_test.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Upgrade dependencies (#1279)
  .golangci.yml
  go.mod
  go.sum
  pkg/clientutil/create_or_update.go
  pkg/features/psp.go
  pkg/tasks/etcd.go
  pkg/templates/canal/canal.go
  pkg/templates/externalccm/digitalocean.go
  pkg/templates/externalccm/hetzner.go
  pkg/templates/externalccm/openstack.go
  pkg/templates/externalccm/packet.go
  pkg/templates/externalccm/vsphere.go
  pkg/templates/machinecontroller/deployment.go
  pkg/templates/machinecontroller/webhook.go
  pkg/templates/metricsserver/deployment.go
  pkg/templates/nodelocaldns/nodelocaldns.go
  pkg/templates/weave/weave-net.go
  test/e2e/conformance_test.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Update the release date
  CHANGELOG.md
Due: none

Add the changelog for the v1.2.0 release (#1275)
  CHANGELOG.md
Due: none

[release/v1.2] Add the changelog for the v1.2.0 release (#1280)
  CHANGELOG.md
Due: none

Install cri-tools on Amazon Linux 2
  pkg/scripts/funcs.go
  pkg/scripts/render.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Update test fixtures
  pkg/scripts/testdata/TestKubeadmAmazonLinux-force.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-proxy.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-simple.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlAmazonLinux.golden
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Install cri-tools on Amazon Linux 2 (#1282)
  pkg/scripts/funcs.go
  pkg/scripts/render.go
  pkg/scripts/testdata/TestKubeadmAmazonLinux-force.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-proxy.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-simple.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlAmazonLinux.golden
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

[release/v1.2] Install cri-tools on Amazon Linux 2 (#1283)
  pkg/scripts/funcs.go
  pkg/scripts/render.go
  pkg/scripts/testdata/TestKubeadmAmazonLinux-force.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-proxy.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-simple.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlAmazonLinux.golden
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Upgrade machinecontroller to v1.27.4
  go.mod
  go.sum
  pkg/templates/machinecontroller/deployment.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Update image-loader
  hack/image-loader.sh
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Upgrade machinecontroller to v1.27.4 (#1288)
  go.mod
  go.sum
  hack/image-loader.sh
  pkg/templates/machinecontroller/deployment.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Use admissionregistration v1
  pkg/tasks/machine_deployments.go
  pkg/tasks/reset.go
  pkg/templates/machinecontroller/webhook.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Use admissionregistration v1 (#1290)
  pkg/tasks/machine_deployments.go
  pkg/tasks/reset.go
  pkg/templates/machinecontroller/webhook.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Add the changelog for the v1.2.1 release
  CHANGELOG.md
Due: none

Add the changelog for the v1.2.1 release (#1292)
  CHANGELOG.md
Due: none

Add the changelog for the v1.2.1 release (#1293)
  CHANGELOG.md
Due: none

Unattended upgrades
  addons/unattended-upgrades/README.md
  addons/unattended-upgrades/apt.yaml
  addons/unattended-upgrades/fluo.yaml
  addons/unattended-upgrades/kured.yaml
  addons/unattended-upgrades/yum.yaml
Due: none

Label nodes with detected OS
  pkg/tasks/nodes.go
  pkg/tasks/tasks.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Review changes
  .golangci.yml
  addons/unattended-upgrades/README.md
  addons/unattended-upgrades/apt.yaml
  pkg/tasks/nodes.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

add amzn2
  addons/unattended-upgrades/yum.yaml
Due: none

Deploy kured to Amazon Linux 2 too
  addons/unattended-upgrades/README.md
  addons/unattended-upgrades/kured.yaml
Due: none

Unattended upgrades addon (#1291)
  .golangci.yml
  addons/unattended-upgrades/README.md
  addons/unattended-upgrades/apt.yaml
  addons/unattended-upgrades/fluo.yaml
  addons/unattended-upgrades/kured.yaml
  addons/unattended-upgrades/yum.yaml
  pkg/tasks/nodes.go
  pkg/tasks/tasks.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Automate certificates renew
  pkg/cmd/apply.go
  pkg/state/cluster.go
  pkg/state/cluster_test.go
  pkg/tasks/certs.go
  pkg/tasks/certs_test.go
  pkg/tasks/preflight_checks.go
  pkg/tasks/probes.go
  pkg/tasks/tasks.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Update golangci-lint to v1.38.0
  .prow.yaml
Due: none

Review changes
  pkg/state/cluster.go
  pkg/tasks/certs.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19
