Repository kubermatic/kubeone: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, ci-push-kubeone-e2e-image

pull-kubeone-e2e-aws-conformance-1.16:
  decorate: true
  labels:
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.10
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: TEST_CLUSTER_TARGET_VERSION
        value: 1.16.14
  ...

pull-kubeone-e2e-aws-conformance-1.17:
  decorate: true
  labels:
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.10
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: TEST_CLUSTER_TARGET_VERSION
        value: 1.17.11
  ...

pull-kubeone-e2e-aws-conformance-1.18:
  decorate: true
  labels:
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.10
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: TEST_CLUSTER_TARGET_VERSION
        value: 1.18.8
  ...

pull-kubeone-e2e-aws-conformance-1.19:
  decorate: true
  labels:
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.10
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: TEST_CLUSTER_TARGET_VERSION
        value: 1.19.0
  ...

pull-kubeone-e2e-aws-upgrade-1.16-1.17:
  decorate: true
  labels:
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.10
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: TEST_CLUSTER_INITIAL_VERSION
        value: 1.16.14
  ...

pull-kubeone-e2e-aws-upgrade-1.17-1.18:
  decorate: true
  labels:
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.10
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: TEST_CLUSTER_INITIAL_VERSION
        value: 1.17.11
  ...

pull-kubeone-e2e-aws-upgrade-1.18-1.19:
  decorate: true
  labels:
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.10
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: TEST_CLUSTER_INITIAL_VERSION
        value: 1.18.8
  ...

ci-push-kubeone-e2e-image:
  decorate: true
  labels:
    preset-docker-push: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/go-docker:13.3-1806-2
      command:
      - /bin/bash
      - -c
  ...

ContainerRuntimeConfig.CRISocket() internal API helper
  pkg/apis/kubeone/helpers.go
  pkg/templates/kubeadm/v1beta1/kubeadm.go
  pkg/templates/kubeadm/v1beta2/kubeadm.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Remove defaulting of container runtime in internal API
  pkg/apis/kubeone/v1alpha1/conversion.go
  pkg/apis/kubeone/v1alpha1/conversion_test.go
  pkg/apis/kubeone/v1beta1/defaults.go
  pkg/state/context.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Use containerd repositories instead of GH releases
  pkg/scripts/os.go
  pkg/scripts/render.go
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd_with_insecure_registry.golden
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Return defaulting of container-runtime at API level back
  pkg/apis/kubeone/v1alpha1/conversion.go
  pkg/apis/kubeone/v1alpha1/conversion_test.go
  pkg/apis/kubeone/v1beta1/defaults.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Introduce containerd E2E tests
  .prow.yaml
  hack/run-ci-e2e-test.sh
  pkg/apis/kubeone/helpers.go
  test/e2e/conformance_test.go
  test/e2e/flag.go
  test/e2e/flag_test.go
  test/e2e/kubeone.go
  test/e2e/main_test.go
  test/e2e/upgrade_test.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Amazon has own containerd version
  pkg/scripts/funcs.go
  pkg/scripts/render.go
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd_with_insecure_registry.golden
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Validate correct container-runtime in API
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/validation/validation_test.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Force containerd for 1.21 instead 1.23
  pkg/state/context.go
  pkg/state/context_test.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Use github.com/Masterminds/semver/v3 after rebase
  pkg/state/context.go
  pkg/state/context_test.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Mutually exclude container runtimes in e2e tests
  test/e2e/kubeone.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Drop computed ContainerRuntime() and simply use parsed
  pkg/scripts/os.go
  pkg/scripts/os_test.go
  pkg/state/context.go
  pkg/state/context_test.go
  pkg/tasks/kubernetes_binaries.go
  pkg/tasks/prerequisites.go
  pkg/tasks/probes.go
  pkg/templates/kubeadm/v1beta1/kubeadm.go
  pkg/templates/kubeadm/v1beta2/kubeadm.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Default to containerd 1.21+ clusters
  pkg/apis/kubeone/v1beta1/defaults.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Enforce containerd for 1.22+ clusters
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/validation/validation_test.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

New defaulting logic
  .prow.yaml
  pkg/apis/kubeone/v1beta1/defaults.go
  pkg/apis/kubeone/validation/validation.go
  pkg/tasks/probes.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Validate presence of docker in kubernetes >= 1.21
  pkg/tasks/probes.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Containerd on kubernetes 1.21+ (#1205)
  .prow.yaml
  hack/run-ci-e2e-test.sh
  pkg/apis/kubeone/helpers.go
  pkg/apis/kubeone/v1alpha1/conversion.go
  pkg/apis/kubeone/v1beta1/defaults.go
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/validation/validation_test.go
  pkg/clusterstatus/preflightstatus/preflightstatus.go
  pkg/scripts/discovery.go
  pkg/scripts/discovery_test.go
  pkg/scripts/funcs.go
  pkg/scripts/node.go
  pkg/scripts/node_test.go
  pkg/scripts/os.go
  pkg/scripts/os_test.go
  pkg/scripts/render.go
  pkg/scripts/testdata/TestDrainNode.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestUncordonNode.golden
  pkg/scripts/testdata/TestVerifyPrerequisites.golden
  pkg/tasks/nodes.go
  pkg/tasks/probes.go
  pkg/templates/kubeadm/v1beta1/kubeadm.go
  pkg/templates/kubeadm/v1beta2/kubeadm.go
  test/e2e/conformance_test.go
  test/e2e/flag.go
  test/e2e/flag_test.go
  test/e2e/kubeone.go
  test/e2e/main_test.go
  test/e2e/upgrade_test.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Update machine-controller to v1.24.3
  pkg/templates/machinecontroller/deployment.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Use ubuntu-18.04 for kubernetes 1.16 e2e tests
  .prow.yaml
Due: none

Update machine-controller to v1.24.3 (#1227)
  .prow.yaml
  pkg/templates/machinecontroller/deployment.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Add containerRuntime API to the full config
  pkg/cmd/config.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Add containerRuntime API to the full config (#1229)
  pkg/cmd/config.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Add the changelog for the v1.2.0-beta.0 release
  CHANGELOG.md
Due: none

Add the changelog for the v1.2.0-beta.0 release (#1230)
  CHANGELOG.md
Due: none

Remove CoreOS
  examples/terraform/azure/variables.tf
  examples/terraform/digitalocean/variables.tf
  examples/terraform/gce/variables.tf
  examples/terraform/hetzner/variables.tf
  examples/terraform/openstack/variables.tf
  examples/terraform/packet/variables.tf
  examples/terraform/vsphere/variables.tf
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta1/types.go
  pkg/scripts/os.go
  pkg/scripts/os_test.go
  pkg/scripts/testdata/TestKubeadmFlatcar-force.golden
  pkg/scripts/testdata/TestKubeadmFlatcar-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmFlatcar-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmFlatcar-simple.golden
  pkg/scripts/testdata/TestRemoveBinariesFlatcar.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIFlatcar.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlFlatcar.golden
  pkg/tasks/kubernetes_binaries.go
  pkg/tasks/prerequisites.go
  pkg/tasks/probes.go
  pkg/tasks/reset.go
  test/e2e/os.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Remove CoreOS (#1232)
  examples/terraform/azure/variables.tf
  examples/terraform/digitalocean/variables.tf
  examples/terraform/gce/variables.tf
  examples/terraform/hetzner/variables.tf
  examples/terraform/openstack/variables.tf
  examples/terraform/packet/variables.tf
  examples/terraform/vsphere/variables.tf
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta1/types.go
  pkg/scripts/os.go
  pkg/scripts/os_test.go
  pkg/scripts/testdata/TestKubeadmFlatcar-force.golden
  pkg/scripts/testdata/TestKubeadmFlatcar-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmFlatcar-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmFlatcar-simple.golden
  pkg/scripts/testdata/TestRemoveBinariesFlatcar.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIFlatcar.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlFlatcar.golden
  pkg/tasks/kubernetes_binaries.go
  pkg/tasks/prerequisites.go
  pkg/tasks/probes.go
  pkg/tasks/reset.go
  test/e2e/os.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Drop mounting flexvolume plugins into the openstack CCM
  pkg/templates/externalccm/openstack.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Drop mounting flexvolume plugins into the openstack CCM (#1234)
  pkg/templates/externalccm/openstack.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Add debian support
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta1/types.go
  pkg/tasks/kubernetes_binaries.go
  pkg/tasks/prerequisites.go
  pkg/tasks/reset.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Add debian support (#1233)
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta1/types.go
  pkg/tasks/kubernetes_binaries.go
  pkg/tasks/prerequisites.go
  pkg/tasks/reset.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Fix confusing default in OpenIDConnect
  pkg/apis/kubeone/v1alpha1/defaults.go
  pkg/apis/kubeone/v1beta1/defaults.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Disallow the PodPresets feature for 1.20 clusters
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/validation/validation_test.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Deprecate the PodPresets feature
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1alpha1/types.go
  pkg/apis/kubeone/v1beta1/types.go
  pkg/cmd/config.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Fix confusing default in OpenIDConnect (#1235)
  pkg/apis/kubeone/v1alpha1/defaults.go
  pkg/apis/kubeone/v1beta1/defaults.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Remove 1.16 and 1.17 conformance and upgrade tests
  .prow.yaml
Due: none

Update containerd E2E tests to a newer K8s version
  .prow.yaml
Due: none

Update Kubernetes versions used in tests
  .prow.yaml
Due: none

Disallow and deprecate the PodPresets feature (#1236)
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1alpha1/types.go
  pkg/apis/kubeone/v1beta1/types.go
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/validation/validation_test.go
  pkg/cmd/config.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Update KubeOne CI jobs (#1237)
  .prow.yaml
Due: none

Update machine-controller to v1.25.0
  pkg/templates/machinecontroller/deployment.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Update the kubeone-e2e image
  hack/images/kubeone-e2e/Dockerfile
  hack/images/kubeone-e2e/install-kube-tests-binaries.sh
  hack/images/kubeone-e2e/release.sh
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, ci-push-kubeone-e2e-image

Path conditions:
  pull-kubeone-e2e-aws-conformance-1.16: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.17: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.19: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.16-1.17: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.17-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.18-1.19: any of: (pkg/|examples/terraform/aws|hack/|test/)
  ci-push-kubeone-e2e-image: any of: (hack/images/kubeone-e2e)
