Repository kubermatic/kubeone: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, post-kubeone-push-e2e-image, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

pull-kubeone-verify-apidocs:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.5
      command:
      - make
      args:
      - verify-apidocs
      resources:
        requests:
          memory: 512Mi
          cpu: 500m
        limits:
          memory: 1Gi
          cpu: 1

pull-kubeone-e2e-aws-containerd-conformance-1.20:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

pull-kubeone-e2e-aws-conformance-1.20:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
  ...

pull-kubeone-e2e-aws-conformance-1.21:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: TEST_CLUSTER_TARGET_VERSION
  ...

pull-kubeone-e2e-aws-conformance-1.22:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

pull-kubeone-e2e-aws-conformance-1.23:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

pull-kubeone-e2e-aws-conformance-1.23-v1beta1:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

Fix release/v1.12 branch (#4079)
  .github/workflows/golangci-lint.yml
  .golangci.yml
  .prow/generated.yaml
  .prow/postsubmits.yaml
  .prow/verify.yaml
  Dockerfile
  docs/api_reference/v1beta2.en.md
  docs/api_reference/v1beta3.en.md
  go.mod
  go.sum
  pkg/apis/kubeone/config/config.go
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta2/types.go
  pkg/apis/kubeone/v1beta3/types.go
  pkg/ssh/connection.go
  test/e2e/helpers.go
  test/e2e/kubeone.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

[release/v1.12] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

[release/v1.12] Synchronize OWNERS_ALIASES file with Github teams (#3996)
  OWNERS_ALIASES
Due: none

[release/v1.12] Add release workflow and update GoReleaser configuration
  .github/workflows/release.yml
  .goreleaser.yml
  Makefile
  hack/stable-kubernetes-url.txt
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

copy release workflow from the main
  .github/workflows/release.yml
Due: none

[release/v1.12] Release workflow (#4057)
  .github/workflows/release.yml
  .goreleaser.yml
  Makefile
  hack/stable-kubernetes-url.txt
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Update Operating System Manager image version to v1.9.1
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Replace symbolic link from /etc/environment if it's exists
  pkg/scripts/proxy.go
  pkg/scripts/testdata/TestEnvironmentFile-empty-proxy.golden
  pkg/scripts/testdata/TestEnvironmentFile-http-https-no-proxy.golden
  pkg/scripts/testdata/TestEnvironmentFile-http-https-proxy.golden
  pkg/scripts/testdata/TestEnvironmentFile-http-proxy.golden
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

[release/v1.12] Update OSM and and fix flatcar (#4080)
  pkg/scripts/proxy.go
  pkg/scripts/testdata/TestEnvironmentFile-empty-proxy.golden
  pkg/scripts/testdata/TestEnvironmentFile-http-https-no-proxy.golden
  pkg/scripts/testdata/TestEnvironmentFile-http-https-proxy.golden
  pkg/scripts/testdata/TestEnvironmentFile-http-proxy.golden
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

[release/v1.12] Synchronize OWNERS_ALIASES file with Github teams (#4081)
  OWNERS_ALIASES
Due: none

Prepare v1.12.4 release changelog
  CHANGELOG/CHANGELOG-1.12.md
Due: none

Prepare v1.12.4 release changelog (#4082)
  CHANGELOG/CHANGELOG-1.12.md
Due: none

Prepare v1.12.4 release changelog (#4083)
  CHANGELOG/CHANGELOG-1.12.md
Due: none

create validating webhook configuration to disable service creation while removing lb
  pkg/clientutil/service.go
  pkg/tasks/reset.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

create validating webhook configuration to disable service creation while removing lb (#4084)
  pkg/clientutil/service.go
  pkg/tasks/reset.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

EnableLocalRedirectPolicy for Cilium
  Makefile
  addons/cni-cilium/cilium-config-map.yaml
  addons/nodelocaldns-cilium/lrp.yaml
  addons/nodelocaldns-cilium/nodelocaldns.yaml
  docs/api_reference/v1beta2.en.md
  docs/api_reference/v1beta3.en.md
  pkg/addons/ensure.go
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta2/conversion.go
  pkg/apis/kubeone/v1beta2/types.go
  pkg/apis/kubeone/v1beta2/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta3/conversion.go
  pkg/apis/kubeone/v1beta3/types.go
  pkg/apis/kubeone/v1beta3/zz_generated.conversion.go
  pkg/apis/kubeone/validation/validation.go
  pkg/templates/resources/resources.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

kubeone-verbose
  pkg/addons/ensure.go
  test/go-test-e2e.sh
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Add migration path to Cilium LocalRedirectPolicy
  addons/cni-cilium/cilium-config-map.yaml
  pkg/addons/ensure.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Fix addon cleanup for local DNS variants
  pkg/addons/applier.go
  pkg/addons/ensure.go
  test/go-test-e2e.sh
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

enableLocalRedirectPolicy for cilium e2e tests
  test/e2e/testdata/containerd_cilium_external.yaml
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

cleanup unused containerd_cilium_external_v1beta2.yaml
  test/e2e/testdata/containerd_cilium_external.yaml
  test/e2e/testdata/containerd_cilium_external_v1beta2.yaml
  test/e2e/tests_definitions.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

create validating webhook configuration to disable service creation while removing lb (#4086)
  pkg/clientutil/service.go
  pkg/tasks/reset.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Address review
  pkg/addons/ensure.go
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/validation/validation_test.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Dedicated ValidateCilium function
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/validation/validation_test.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Give distinguish name for nodelocaldns-cilium objects
  addons/nodelocaldns-cilium/lrp.yaml
  addons/nodelocaldns-cilium/nodelocaldns.yaml
  pkg/addons/ensure.go
  pkg/templates/resources/resources.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

EnableLocalRedirectPolicy for Cilium (#4070)
  Makefile
  addons/cni-cilium/cilium-config-map.yaml
  addons/nodelocaldns-cilium/lrp.yaml
  addons/nodelocaldns-cilium/nodelocaldns.yaml
  docs/api_reference/v1beta2.en.md
  docs/api_reference/v1beta3.en.md
  pkg/addons/applier.go
  pkg/addons/ensure.go
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta2/conversion.go
  pkg/apis/kubeone/v1beta2/types.go
  pkg/apis/kubeone/v1beta2/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta3/conversion.go
  pkg/apis/kubeone/v1beta3/types.go
  pkg/apis/kubeone/v1beta3/zz_generated.conversion.go
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/validation/validation_test.go
  pkg/templates/resources/resources.go
  test/e2e/testdata/containerd_cilium_external.yaml
  test/e2e/testdata/containerd_cilium_external_v1beta2.yaml
  test/e2e/tests_definitions.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

create validating webhook configuration to disable service creation while removing lb (#4085)
  pkg/clientutil/service.go
  pkg/tasks/reset.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Avoid modprobe ip_tables, as it's no more in the newer kernels
  .github/workflows/golangci-lint.yml
  pkg/scripts/funcs.go
  pkg/scripts/testdata/TestDebScript-install_all.golden
  pkg/scripts/testdata/TestDebScript-install_all_with_force.golden
  pkg/scripts/testdata/TestDebScript-install_all_with_proxy.golden
  pkg/scripts/testdata/TestDebScript-upgrade_kubeadm_and_kubectl.golden
  pkg/scripts/testdata/TestDebScript-upgrade_kubeadm_and_kubectl_with_force.golden
  pkg/scripts/testdata/TestDebScript-upgrade_kubelet.golden
  pkg/scripts/testdata/TestFlatcarScript-install_all.golden
  pkg/scripts/testdata/TestFlatcarScript-install_all_with_force.golden
  pkg/scripts/testdata/TestFlatcarScript-install_all_with_proxy.golden
  pkg/scripts/testdata/TestFlatcarScript-upgrade_kubeadm_and_kubectl.golden
  pkg/scripts/testdata/TestFlatcarScript-upgrade_kubeadm_and_kubectl_with_force.golden
  pkg/scripts/testdata/TestFlatcarScript-upgrade_kubelet.golden
  pkg/scripts/testdata/TestRHELLikeScript-install_all.golden
  pkg/scripts/testdata/TestRHELLikeScript-install_all_with_force.golden
  pkg/scripts/testdata/TestRHELLikeScript-install_all_with_proxy.golden
  pkg/scripts/testdata/TestRHELLikeScript-upgrade_kubeadm_and_kubectl.golden
  pkg/scripts/testdata/TestRHELLikeScript-upgrade_kubeadm_and_kubectl_with_force.golden
  pkg/scripts/testdata/TestRHELLikeScript-upgrade_kubelet.golden
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Use OSM version that also avoids modprobe ip_tables
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Avoid modprobe ip_tables, as it's no more in the newer kernels (#4088)
  .github/workflows/golangci-lint.yml
  pkg/scripts/funcs.go
  pkg/scripts/testdata/TestDebScript-install_all.golden
  pkg/scripts/testdata/TestDebScript-install_all_with_force.golden
  pkg/scripts/testdata/TestDebScript-install_all_with_proxy.golden
  pkg/scripts/testdata/TestDebScript-upgrade_kubeadm_and_kubectl.golden
  pkg/scripts/testdata/TestDebScript-upgrade_kubeadm_and_kubectl_with_force.golden
  pkg/scripts/testdata/TestDebScript-upgrade_kubelet.golden
  pkg/scripts/testdata/TestFlatcarScript-install_all.golden
  pkg/scripts/testdata/TestFlatcarScript-install_all_with_force.golden
  pkg/scripts/testdata/TestFlatcarScript-install_all_with_proxy.golden
  pkg/scripts/testdata/TestFlatcarScript-upgrade_kubeadm_and_kubectl.golden
  pkg/scripts/testdata/TestFlatcarScript-upgrade_kubeadm_and_kubectl_with_force.golden
  pkg/scripts/testdata/TestFlatcarScript-upgrade_kubelet.golden
  pkg/scripts/testdata/TestRHELLikeScript-install_all.golden
  pkg/scripts/testdata/TestRHELLikeScript-install_all_with_force.golden
  pkg/scripts/testdata/TestRHELLikeScript-install_all_with_proxy.golden
  pkg/scripts/testdata/TestRHELLikeScript-upgrade_kubeadm_and_kubectl.golden
  pkg/scripts/testdata/TestRHELLikeScript-upgrade_kubeadm_and_kubectl_with_force.golden
  pkg/scripts/testdata/TestRHELLikeScript-upgrade_kubelet.golden
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Fix v1.kubelet-config annotations
  examples/terraform/aws-dualstack/output.tf
  examples/terraform/aws/output.tf
  examples/terraform/azure/output.tf
  examples/terraform/digitalocean/output.tf
  examples/terraform/equinixmetal/output.tf
  examples/terraform/gce/output.tf
  examples/terraform/hetzner/output.tf
  examples/terraform/nutanix/output.tf
  examples/terraform/openstack/output.tf
  examples/terraform/vmware-cloud-director/output.tf
  examples/terraform/vsphere/outputs.tf
  examples/terraform/vsphere/variables.tf
  examples/terraform/vsphere_flatcar/outputs.tf
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Fix v1.kubelet-config annotations (#4090)
  examples/terraform/aws-dualstack/output.tf
  examples/terraform/aws/output.tf
  examples/terraform/azure/output.tf
  examples/terraform/digitalocean/output.tf
  examples/terraform/equinixmetal/output.tf
  examples/terraform/gce/output.tf
  examples/terraform/hetzner/output.tf
  examples/terraform/nutanix/output.tf
  examples/terraform/openstack/output.tf
  examples/terraform/vmware-cloud-director/output.tf
  examples/terraform/vsphere/outputs.tf
  examples/terraform/vsphere/variables.tf
  examples/terraform/vsphere_flatcar/outputs.tf
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Upgrade golang.org/x/crypto v0.52.0
  go.mod
  go.sum
Due: none

Upgrade golang.org/x/crypto v0.52.0 (#4092)
  go.mod
  go.sum
Due: none

Path conditions:
  pull-kubeone-verify-apidocs: any of: (pkg/apis/kubeone|hack/)
  pull-kubeone-e2e-aws-containerd-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.22: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.23: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.23-v1beta1: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.19-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.20-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.21-1.22: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.22-1.23: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  post-kubeone-push-e2e-image: any of: (hack/images/kubeone-e2e)
  pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-default-install-containerd-external-v1.32: any of: (.prow/|addons/|examples/|hack/|pkg/|test/)
  pull-kubeone-e2e-aws-default-install-containerd-external-v1.33: any of: (.prow/|addons/|examples/|hack/|pkg/|test/)
  pull-kubeone-e2e-aws-default-install-containerd-external-v1.34: any of: (.prow/|addons/|examples/|hack/|pkg/|test/)
