Repository kubermatic/kubeone: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, ci-push-kubeone-e2e-image

Path conditions:
  pull-kubeone-e2e-aws-containerd-conformance-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.19: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.17-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.18-1.19: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.19-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.20-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/)
  ci-push-kubeone-e2e-image: any of: (hack/images/kubeone-e2e)

Update the kubeone-e2e image to Go 1.17.1 (#1541)
  hack/images/kubeone-e2e/Dockerfile
  hack/images/kubeone-e2e/install-kube-tests-binaries.sh
  hack/images/kubeone-e2e/release.sh
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, ci-push-kubeone-e2e-image

Update the remaining jobs to Go 1.17.1
  .prow.yaml
Due: none

Update the remaining jobs to Go 1.17.1 (#1542)
  .prow.yaml
Due: none

Fix Go build tags
  hack/tools.go
  pkg/apis/apiserver/v1/zz_generated.deepcopy.go
  pkg/apis/apiserver/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/kubeadm/bootstraptoken/v1/zz_generated.deepcopy.go
  pkg/apis/kubeadm/v1beta2/zz_generated.deepcopy.go
  pkg/apis/kubeadm/v1beta3/zz_generated.deepcopy.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Fix Go build tags (#1545)
  hack/tools.go
  pkg/apis/apiserver/v1/zz_generated.deepcopy.go
  pkg/apis/apiserver/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/kubeadm/bootstraptoken/v1/zz_generated.deepcopy.go
  pkg/apis/kubeadm/v1beta2/zz_generated.deepcopy.go
  pkg/apis/kubeadm/v1beta3/zz_generated.deepcopy.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Update controller-runtime to v0.10.1 and Kubernetes deps to 1.22.2
  go.mod
  go.sum
Due: none

Replace DeleteLocalData with DeleteEmptyDirData in nodeutils pkg
  pkg/nodeutils/drain.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

CCM/CSI migration support for clusters with static worker nodes
  pkg/scripts/ccm_csi_migration.go
  pkg/tasks/ccm_csi_migration.go
  pkg/tasks/common.go
  pkg/tasks/containerd.go
  pkg/tasks/tasks.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Address review comments
  pkg/tasks/ccm_csi_migration.go
  pkg/tasks/common.go
  pkg/tasks/common_test.go
  pkg/tasks/containerd.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Update controller-runtime to v0.10.1 and Kubernetes dependencies to 1.22.2 (#1546)
  go.mod
  go.sum
  pkg/nodeutils/drain.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

CCM/CSI migration support for clusters with static worker nodes (#1544)
  pkg/scripts/ccm_csi_migration.go
  pkg/tasks/ccm_csi_migration.go
  pkg/tasks/common.go
  pkg/tasks/common_test.go
  pkg/tasks/containerd.go
  pkg/tasks/tasks.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Default image in the cluster-autoscaler addon
  addons/cluster-autoscaler/cluster-autoscaler.yaml
  pkg/templates/images/images.go
  pkg/templates/images/resource_string.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Default image in the cluster-autoscaler addon (#1552)
  addons/cluster-autoscaler/cluster-autoscaler.yaml
  pkg/templates/images/images.go
  pkg/templates/images/resource_string.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Default image in the cluster-autoscaler addon (#1553)
  addons/cluster-autoscaler/cluster-autoscaler.yaml
  pkg/templates/images/images.go
  pkg/templates/images/resource_string.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Test
  .prow.yaml
  test-ci/test.sh
Due: none

Added availability set for workers and security group to allow ingress access
  examples/terraform/azure/main.tf
  examples/terraform/azure/output.tf
Due: none

Use gocache in CI when building KubeOne
  .gitignore
  .prow.yaml
  Makefile
  hack/ci/download-gocache.sh
  hack/ci/upload-gocache.sh
  hack/lib.sh
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Use gocache in CI when building KubeOne (#1557)
  .gitignore
  .prow.yaml
  Makefile
  hack/ci/download-gocache.sh
  hack/ci/upload-gocache.sh
  hack/lib.sh
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Disable colors for Terraform and Ginkgo in CI
  hack/run-ci-e2e-test.sh
  test/e2e/kubetest.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Disable colors for Terraform and Ginkgo in CI (#1558)
  hack/run-ci-e2e-test.sh
  test/e2e/kubetest.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Use gocache in test and e2e-test Make targets
  Makefile
Due: none

Use gocache in test and e2e-test Make targets (#1559)
  Makefile
Due: none

add cilium to api
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta1/types.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

add basic clilium deployment
  addons/cni-cilium/cilium.yaml
  pkg/addons/ensure.go
  pkg/apis/kubeone/v1alpha1/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta1/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta1/zz_generated.deepcopy.go
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/zz_generated.deepcopy.go
  pkg/tasks/cni.go
  pkg/templates/resources/resources.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

add hubble support
  addons/cni-cilium/cilium.yaml
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta1/types.go
  pkg/apis/kubeone/v1beta1/zz_generated.conversion.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

support cilium wihtout kube-proxy
  addons/cni-cilium/cilium.yaml
  pkg/scripts/kubeadm.go
  pkg/tasks/controlplane.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

adjust tests and linting
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta1/types.go
  pkg/scripts/kubeadm_test.go
  pkg/scripts/testdata/TestKubeadmInit-not-verbose.golden
  pkg/scripts/testdata/TestKubeadmInit-verbose.golden
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Updated as per review comments
  examples/terraform/azure/main.tf
  examples/terraform/azure/output.tf
Due: none

Formatting
  examples/terraform/azure/main.tf
Due: none

Added availability set for workers and security group to allow ingress access (#1556)
  examples/terraform/azure/main.tf
  examples/terraform/azure/output.tf
Due: none

[release/v1.3] Added availability set for workers and security group to allow ingress access (#1562)
  examples/terraform/azure/main.tf
  examples/terraform/azure/output.tf
Due: none

Integrate Azure CCM addon with KubeOne
  addons/ccm-azure/ccm-azure.yaml
  examples/terraform/azure/main.tf
  examples/terraform/azure/output.tf
  pkg/apis/kubeone/helpers.go
  pkg/templates/externalccm/ccm.go
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Integrate Azure CCM addon with KubeOne (#1561)
  addons/ccm-azure/ccm-azure.yaml
  examples/terraform/azure/main.tf
  examples/terraform/azure/output.tf
  pkg/apis/kubeone/helpers.go
  pkg/templates/externalccm/ccm.go
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

add disabling kube-proxy and add cilium validation
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta1/defaults.go
  pkg/apis/kubeone/v1beta1/types.go
  pkg/apis/kubeone/v1beta1/zz_generated.conversion.go
  pkg/apis/kubeone/validation/validation.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

fix cilium hubble cert generation
  addons/cni-cilium/cilium.yaml
Due: none

add kubeadm skip-phase parameter only if needed
  pkg/scripts/kubeadm.go
  pkg/tasks/controlplane.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21
