Repository kubermatic/kubeone: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, ci-push-kubeone-e2e-image

Path conditions:
  pull-kubeone-e2e-aws-conformance-1.16: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.17: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.19: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.16-1.17: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.17-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.18-1.19: any of: (pkg/|examples/terraform/aws|hack/|test/)
  ci-push-kubeone-e2e-image: any of: (hack/images/kubeone-e2e)

Dynamically determine AMI for E2E tests. Support for CentOS7 in E2E tests (#1096)
  .golangci.yml
  test/e2e/conformance_test.go
  test/e2e/os.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Explicitly restart Kubelet on upgrade for Ubuntu
  pkg/scripts/os.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Update test fixtures
  pkg/scripts/testdata/TestKubeadmDebian-simple.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlDebian.golden
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Explicitly restart Kubelet on upgrade for Ubuntu (#1098)
  pkg/scripts/os.go
  pkg/scripts/testdata/TestKubeadmDebian-simple.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlDebian.golden
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Don't stop Kubelet when upgrading Kubeadm on Flatcar
  pkg/scripts/os.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Update test fixtures
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNICoreOS.golden
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Update kubernetes-cni to v0.8.7
  pkg/scripts/os.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Update test fixtures
  pkg/scripts/testdata/TestKubeadmCentOS-force.golden
  pkg/scripts/testdata/TestKubeadmCentOS-proxy.golden
  pkg/scripts/testdata/TestKubeadmCentOS-simple.golden
  pkg/scripts/testdata/TestKubeadmCentOS-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmCoreOS-force.golden
  pkg/scripts/testdata/TestKubeadmCoreOS-simple.golden
  pkg/scripts/testdata/TestKubeadmDebian-simple.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNICentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNICoreOS.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIDebian.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlCentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlDebian.golden
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Update kubernetes-cni to v0.8.7 (#1100)
  pkg/scripts/os.go
  pkg/scripts/testdata/TestKubeadmCentOS-force.golden
  pkg/scripts/testdata/TestKubeadmCentOS-proxy.golden
  pkg/scripts/testdata/TestKubeadmCentOS-simple.golden
  pkg/scripts/testdata/TestKubeadmCentOS-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmCoreOS-force.golden
  pkg/scripts/testdata/TestKubeadmCoreOS-simple.golden
  pkg/scripts/testdata/TestKubeadmDebian-simple.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNICentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNICoreOS.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIDebian.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlCentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlDebian.golden
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

New v1beta1 .ContainerRuntime field
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1alpha1/conversion.go
  pkg/apis/kubeone/v1alpha1/conversion_test.go
  pkg/apis/kubeone/v1alpha1/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta1/defaults.go
  pkg/apis/kubeone/v1beta1/types.go
  pkg/apis/kubeone/v1beta1/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta1/zz_generated.deepcopy.go
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/validation/validation_test.go
  pkg/apis/kubeone/zz_generated.deepcopy.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

New v1beta1 .ContainerRuntime field (#1101)
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1alpha1/conversion.go
  pkg/apis/kubeone/v1alpha1/conversion_test.go
  pkg/apis/kubeone/v1alpha1/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta1/defaults.go
  pkg/apis/kubeone/v1beta1/types.go
  pkg/apis/kubeone/v1beta1/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta1/zz_generated.deepcopy.go
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/validation/validation_test.go
  pkg/apis/kubeone/zz_generated.deepcopy.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

hetzner ubuntu-20.04
  examples/terraform/hetzner/output.tf
  examples/terraform/hetzner/variables.tf
  examples/terraform/hetzner/versions.tf
Due: none

hetzner ubuntu-20.04 (#1102)
  examples/terraform/hetzner/output.tf
  examples/terraform/hetzner/variables.tf
  examples/terraform/hetzner/versions.tf
Due: none

Add the original cluster-autoscaler manifets
  addons/cluster-autoscaler/cluster-autoscaler.yaml
Due: none

Deploy cluster-autoscaler in the kube-system namespace
  addons/cluster-autoscaler/cluster-autoscaler.yaml
Due: none

Reshuffle resources in manifest to make it more readable
  addons/cluster-autoscaler/cluster-autoscaler.yaml
Due: none

Update cluster-autoscaler ClusterRole with additional resources
  addons/cluster-autoscaler/cluster-autoscaler.yaml
Due: none

Use the correct CAPI API group for RBAC
  addons/cluster-autoscaler/cluster-autoscaler.yaml
Due: none

Update cluster-autoscaler deployment
  addons/cluster-autoscaler/cluster-autoscaler.yaml
Due: none

Document the cluster-autoscaler addon
  addons/cluster-autoscaler/README.md
Due: none

Fix typo
  addons/cluster-autoscaler/README.md
Due: none

Add the Cluster Autoscaler addon (#1103)
  addons/cluster-autoscaler/README.md
  addons/cluster-autoscaler/cluster-autoscaler.yaml
Due: none

Update machinecontroller to v1.17.2
  pkg/templates/machinecontroller/deployment.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Parse image from hetzner terraform output
  examples/terraform/hetzner/output.tf
  pkg/templates/machinecontroller/cloudprovider_specs.go
  pkg/terraform/v1beta1/config.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Update e2e images
  .prow.yaml
  hack/images/kubeone-e2e/Dockerfile
  hack/images/kubeone-e2e/install-kube-tests-binaries.sh
  hack/images/kubeone-e2e/release.sh
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, ci-push-kubeone-e2e-image

Further update kubernetes binaries
  .prow.yaml
  hack/images/kubeone-e2e/install-kube-tests-binaries.sh
  hack/images/kubeone-e2e/release.sh
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, ci-push-kubeone-e2e-image

Update e2e image (#1106)
  .prow.yaml
  hack/images/kubeone-e2e/Dockerfile
  hack/images/kubeone-e2e/install-kube-tests-binaries.sh
  hack/images/kubeone-e2e/release.sh
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, ci-push-kubeone-e2e-image

Update machinecontroller to v1.17.2 (#1105)
  examples/terraform/hetzner/output.tf
  pkg/templates/machinecontroller/cloudprovider_specs.go
  pkg/templates/machinecontroller/deployment.go
  pkg/terraform/v1beta1/config.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Add the CSIMigration API
  pkg/apis/kubeone/helpers.go
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta1/types.go
  pkg/apis/kubeone/v1beta1/zz_generated.conversion.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Add CSIMigration validation and validation tests
  .golangci.yml
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/validation/validation_test.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Merge CloudProvider structs instead of overriding them
  pkg/terraform/v1beta1/config.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Merge CloudProvider structs instead of overriding them (#1108)
  pkg/terraform/v1beta1/config.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Add the CSIMigration and CSIMigrationComplete fields to the API
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1alpha1/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta1/types.go
  pkg/apis/kubeone/v1beta1/zz_generated.conversion.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Add validation and validation tests for CSIMigration
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/validation/validation_test.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Update the full config manifest
  pkg/cmd/config.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Add the CSIMigration and CSIMigrationComplete fields to the API (#1109)
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1alpha1/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta1/types.go
  pkg/apis/kubeone/v1beta1/zz_generated.conversion.go
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/validation/validation_test.go
  pkg/cmd/config.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Use CentOS7 Docker repo for both CentOS 7 and 8
  pkg/scripts/os.go
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Update test fixtures
  pkg/scripts/testdata/TestKubeadmCentOS-force.golden
  pkg/scripts/testdata/TestKubeadmCentOS-proxy.golden
  pkg/scripts/testdata/TestKubeadmCentOS-simple.golden
  pkg/scripts/testdata/TestKubeadmCentOS-v1.16.1.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNICentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlCentOS.golden
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19

Use CentOS7 Docker repo for both CentOS 7 and 8 (#1111)
  pkg/scripts/os.go
  pkg/scripts/testdata/TestKubeadmCentOS-force.golden
  pkg/scripts/testdata/TestKubeadmCentOS-proxy.golden
  pkg/scripts/testdata/TestKubeadmCentOS-simple.golden
  pkg/scripts/testdata/TestKubeadmCentOS-v1.16.1.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNICentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlCentOS.golden
Due: pull-kubeone-e2e-aws-conformance-1.16, pull-kubeone-e2e-aws-conformance-1.17, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-upgrade-1.16-1.17, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19
