Repository kubermatic/kubeone: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, post-kubeone-push-e2e-image, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Path conditions:
  pull-kubeone-verify-apidocs: any of: (pkg/apis/kubeone|hack/)
  pull-kubeone-e2e-aws-containerd-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.22: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.23: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.23-v1beta1: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.19-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.20-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.21-1.22: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.22-1.23: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  post-kubeone-push-e2e-image: any of: (hack/images/kubeone-e2e)
  pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)

Add changelog for v1.5.6
  CHANGELOG/CHANGELOG-1.5.md
Due: none

Add changelog for v1.5.6 (#2624)
  CHANGELOG/CHANGELOG-1.5.md
Due: none

Add changelog for v1.5.6 (#2625)
  CHANGELOG/CHANGELOG-1.5.md
Due: none

Actually bind cri-tools version for Ubuntu, CentOS, and Amazon Linux
  pkg/scripts/os_amzn.go
  pkg/scripts/os_centos.go
  pkg/scripts/os_debian.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Update fixtures
  pkg/scripts/testdata/TestKubeadmAmazonLinux-force.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-proxy.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-simple.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-v1.26.0.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_cilium.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-cilium_cluster.golden
  pkg/scripts/testdata/TestKubeadmCentOS-force.golden
  pkg/scripts/testdata/TestKubeadmCentOS-nutanix_cluster.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmCentOS-proxy.golden
  pkg/scripts/testdata/TestKubeadmCentOS-simple.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestKubeadmDebian-cilium_cluster.golden
  pkg/scripts/testdata/TestKubeadmDebian-nutanix_cluster.golden
  pkg/scripts/testdata/TestKubeadmDebian-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmDebian-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmDebian-simple.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestRemoveBinariesAmazonLinux.golden
  pkg/scripts/testdata/TestRemoveBinariesCentOS.golden
  pkg/scripts/testdata/TestRemoveBinariesDebian.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNICentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIDebian.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlCentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlDebian.golden
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Actually bind cri-tools version for Ubuntu, CentOS, and Amazon Linux (#2626)
  pkg/scripts/os_amzn.go
  pkg/scripts/os_centos.go
  pkg/scripts/os_debian.go
  pkg/scripts/testdata/TestKubeadmAmazonLinux-force.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-proxy.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-simple.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-v1.26.0.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_cilium.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-cilium_cluster.golden
  pkg/scripts/testdata/TestKubeadmCentOS-force.golden
  pkg/scripts/testdata/TestKubeadmCentOS-nutanix_cluster.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmCentOS-proxy.golden
  pkg/scripts/testdata/TestKubeadmCentOS-simple.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestKubeadmDebian-cilium_cluster.golden
  pkg/scripts/testdata/TestKubeadmDebian-nutanix_cluster.golden
  pkg/scripts/testdata/TestKubeadmDebian-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmDebian-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmDebian-simple.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestRemoveBinariesAmazonLinux.golden
  pkg/scripts/testdata/TestRemoveBinariesCentOS.golden
  pkg/scripts/testdata/TestRemoveBinariesDebian.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNICentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIDebian.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlCentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlDebian.golden
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Trigger tests
  README.md
Due: none

Update fixtures
  pkg/scripts/testdata/TestKubeadmAmazonLinux-force.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-proxy.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-simple.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-v1.23.9.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_cilium.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-cilium_cluster.golden
  pkg/scripts/testdata/TestKubeadmCentOS-force.golden
  pkg/scripts/testdata/TestKubeadmCentOS-nutanix_cluster.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmCentOS-proxy.golden
  pkg/scripts/testdata/TestKubeadmCentOS-simple.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestKubeadmDebian-cilium_cluster.golden
  pkg/scripts/testdata/TestKubeadmDebian-nutanix_cluster.golden
  pkg/scripts/testdata/TestKubeadmDebian-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmDebian-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmDebian-simple.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestRemoveBinariesAmazonLinux.golden
  pkg/scripts/testdata/TestRemoveBinariesCentOS.golden
  pkg/scripts/testdata/TestRemoveBinariesDebian.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNICentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIDebian.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlCentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlDebian.golden
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Update v1.5.6 release date
  CHANGELOG/CHANGELOG-1.5.md
Due: none

[release/v1.5] Actually bind cri-tools version for Ubuntu, CentOS, and Amazon Linux (#2627)
  CHANGELOG/CHANGELOG-1.5.md
  pkg/scripts/os_amzn.go
  pkg/scripts/os_centos.go
  pkg/scripts/os_debian.go
  pkg/scripts/testdata/TestKubeadmAmazonLinux-force.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-proxy.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-simple.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-v1.23.9.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_cilium.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-cilium_cluster.golden
  pkg/scripts/testdata/TestKubeadmCentOS-force.golden
  pkg/scripts/testdata/TestKubeadmCentOS-nutanix_cluster.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmCentOS-proxy.golden
  pkg/scripts/testdata/TestKubeadmCentOS-simple.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestKubeadmDebian-cilium_cluster.golden
  pkg/scripts/testdata/TestKubeadmDebian-nutanix_cluster.golden
  pkg/scripts/testdata/TestKubeadmDebian-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmDebian-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmDebian-simple.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestRemoveBinariesAmazonLinux.golden
  pkg/scripts/testdata/TestRemoveBinariesCentOS.golden
  pkg/scripts/testdata/TestRemoveBinariesDebian.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNICentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIDebian.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlCentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlDebian.golden
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Upgrade cri-tools to v1.25.0
  pkg/scripts/os.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Downgrade cri-tools on CentOS/Amazon Linux if needed
  pkg/scripts/os_amzn.go
  pkg/scripts/os_centos.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Upgrade kubernetes-cni to v1.2.0
  pkg/scripts/os.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Set the maximum Kubernetes version to v1.23.15
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/validation/validation_test.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Update release date for v1.5.6
  CHANGELOG/CHANGELOG-1.5.md
Due: none

Update release date for v1.5.6 (#2629)
  CHANGELOG/CHANGELOG-1.5.md
Due: none

Add an option to disable templating for addons
  docs/api_reference/v1beta2.en.md
  pkg/addons/manifest.go
  pkg/addons/manifest_test.go
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta1/conversion.go
  pkg/apis/kubeone/v1beta1/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta2/types.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Update generated code
  pkg/apis/kubeone/v1beta1/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta2/zz_generated.conversion.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Add an option to disable templating for addons (#2630)
  docs/api_reference/v1beta2.en.md
  pkg/addons/manifest.go
  pkg/addons/manifest_test.go
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta1/conversion.go
  pkg/apis/kubeone/v1beta1/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta2/types.go
  pkg/apis/kubeone/v1beta2/zz_generated.conversion.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Hotfix: Fix decoding for bastion host public key
  docs/api_reference/v1beta2.en.md
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta2/types.go
  pkg/apis/kubeone/v1beta2/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta2/zz_generated.deepcopy.go
  pkg/apis/kubeone/zz_generated.deepcopy.go
  pkg/ssh/connector.go
  pkg/terraform/v1beta2/config.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Refactored code
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta2/types.go
  pkg/apis/kubeone/v1beta2/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta2/zz_generated.deepcopy.go
  pkg/apis/kubeone/zz_generated.deepcopy.go
  pkg/ssh/connector.go
  pkg/terraform/v1beta2/config.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Update OSM to v1.2.0 and Machine Controller to v1.56.0
  go.mod
  go.sum
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Update OSM to v1.2.0 and Machine Controller to v1.56.0 (#2640)
  go.mod
  go.sum
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Azure E2E testing dummy
  README.md
Due: none

do not assign DynamicClient to state unless error is checked first
  pkg/kubeconfig/kubeconfig.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

do not assign DynamicClient to state unless error is checked first (#2643)
  pkg/kubeconfig/kubeconfig.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Update README.md
  README.md
Due: none

azure CCM: Fix unknown port flag in deployment
  addons/ccm-azure/ccm-azure.yaml
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

ssh-tunnel: always get tunnel
  pkg/cmd/proxy.go
  pkg/kubeconfig/kubeconfig.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

azure: update flatcar image to 3374.2.3
  examples/terraform/azure/variables.tf
Due: none
