Repository kubermatic/kubeone: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, post-kubeone-push-e2e-image

Path conditions:
  pull-kubeone-e2e-aws-containerd-conformance-1.19: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.19: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.22: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.19-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.20-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.21-1.22: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  post-kubeone-push-e2e-image: any of: (hack/images/kubeone-e2e)

update cilium to version 1.11 (#1681)
  addons/cni-cilium/cilium.yaml
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

Update the build image to include the Go 1.17.5 update (#1682)
  .prow.yaml
  hack/images/kubeone-e2e/Dockerfile
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, post-kubeone-push-e2e-image

Remove legacy docker support (kubernetes < 1.17)
  pkg/scripts/funcs.go
  pkg/scripts/render.go
  pkg/scripts/testdata/TestKubeadmAmazonLinux-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmCentOS-v1.16.1.golden
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

Vsphere ccm csi update (#1675)
  addons/ccm-vsphere/ccm-vsphere.yaml
  addons/csi-vsphere/validatingwebhook.yaml
  addons/csi-vsphere/vsphere-csi-driver.yaml
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/validation/validation_test.go
  pkg/templates/images/images.go
  pkg/templates/images/resource_string.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

always gen hubble ca certs
  addons/cni-cilium/cilium.yaml
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

fix cert gen for hubble and k8s api host for non kube-proxy free deployments
  addons/cni-cilium/cilium.yaml
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

Small cilium fixes (#1683)
  addons/cni-cilium/cilium.yaml
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

Remove legacy docker support (kubernetes < 1.17) (#1677)
  pkg/scripts/funcs.go
  pkg/scripts/render.go
  pkg/scripts/testdata/TestKubeadmAmazonLinux-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmCentOS-v1.16.1.golden
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

Allow seccomp profiles in privileged PSP
  pkg/features/psp.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

Allow seccomp profiles in privileged PSP (#1686)
  pkg/features/psp.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

Allow seccomp profiles in privileged PSP (#1687)
  pkg/features/psp.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

Removed empty lines between machinecontroller flags
  addons/machinecontroller/machine-controller.yaml
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

Encode containerd config with registry mirrors and configs
  pkg/containerruntime/containerd_config.go
  pkg/containerruntime/containerd_config_test.go
  pkg/containerruntime/testdata/Test_marshalContainerdConfig-docker.io_mirror_registry.golden
  pkg/containerruntime/testdata/Test_marshalContainerdConfig-multi_registry_mirrors.golden
  pkg/containerruntime/testdata/Test_marshalContainerdConfig-override_insecure_registry.golden
  pkg/containerruntime/testdata/Test_marshalContainerdConfig-simple.golden
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

Start using -node-insecure-registries flag
  pkg/apis/kubeone/helpers.go
  pkg/apis/kubeone/helpers_test.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

New ContainerRuntime.MachineControllerFlags helper for machinecontroller addon
  addons/machinecontroller/machine-controller.yaml
  pkg/apis/kubeone/helpers.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

ContainerRuntime mirror registries v1beta2 API
  docs/api_reference/v1beta2.en.md
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta1/conversion.go
  pkg/apis/kubeone/v1beta1/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta2/types.go
  pkg/apis/kubeone/v1beta2/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta2/zz_generated.deepcopy.go
  pkg/apis/kubeone/zz_generated.deepcopy.go
  pkg/cmd/config.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

Add a fix and test for MachineControllerFlags
  pkg/apis/kubeone/helpers.go
  pkg/apis/kubeone/helpers_test.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

Add validation for ContainerRuntimeConfig
  pkg/apis/kubeone/validation/validation.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

Update machine-controller to v1.38.0
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

Make linter happy
  pkg/apis/kubeone/helpers.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

ContainerRuntime mirror registries v1beta2 API (#1674)
  addons/machinecontroller/machine-controller.yaml
  docs/api_reference/v1beta2.en.md
  pkg/apis/kubeone/helpers.go
  pkg/apis/kubeone/helpers_test.go
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta1/conversion.go
  pkg/apis/kubeone/v1beta1/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta2/types.go
  pkg/apis/kubeone/v1beta2/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta2/zz_generated.deepcopy.go
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/zz_generated.deepcopy.go
  pkg/cmd/config.go
  pkg/containerruntime/containerd_config.go
  pkg/containerruntime/containerd_config_test.go
  pkg/containerruntime/testdata/Test_marshalContainerdConfig-docker.io_mirror_registry.golden
  pkg/containerruntime/testdata/Test_marshalContainerdConfig-multi_registry_mirrors.golden
  pkg/containerruntime/testdata/Test_marshalContainerdConfig-override_insecure_registry.golden
  pkg/containerruntime/testdata/Test_marshalContainerdConfig-simple.golden
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

Add changelog for the v1.3.3 release
  CHANGELOG.md
Due: none

Update to Go 1.17.5
  .prow.yaml
Due: none

Add changelog for the v1.3.3 release (#1688)
  CHANGELOG.md
Due: none

Update golang.org/x/net
  go.mod
  go.sum
Due: none

[release/v1.3] Add changelog for the v1.3.3 release
  CHANGELOG.md
Due: none

Update to Go 1.17.5 and golang.org/x/net to v0.0.0-20211209124913-491a49abca63 (#1689)
  .prow.yaml
  go.mod
  go.sum
Due: none

[release/v1.3] Add changelog for the v1.3.3 release (#1690)
  CHANGELOG.md
Due: none

resolve environment variables in addon parameters
  pkg/addons/manifest.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

tolerate empty environment variable but throw error if it's not set
  pkg/addons/manifest.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

Fix flatcar AMI filter
  examples/terraform/aws/main.tf
  examples/terraform/aws/output.tf
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

Fix flatcar AMI filter (#1692)
  examples/terraform/aws/main.tf
  examples/terraform/aws/output.tf
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

Fix flatcar AMI filter (#1692)
  examples/terraform/aws/main.tf
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

Fix flatcar AMI filter (#1692) (#1693)
  examples/terraform/aws/main.tf
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

Resolve environment variables in addon parameters (#1691)
  pkg/addons/manifest.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

Block IPVS on 1.23 clusters running Canal/Calico CNI
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/validation/validation_test.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

Block IPVS on 1.23 clusters running Canal/Calico CNI (#1695)
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/validation/validation_test.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

Deprecate kubeone install and upgrade commands
  pkg/cmd/install.go
  pkg/cmd/upgrade.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22

Use kubeone apply in E2E tests
  test/e2e/kubeone.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.19, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22
