Repository kubermatic/kubeone: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, post-kubeone-push-e2e-image, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Path conditions:
  pull-kubeone-verify-apidocs: any of: (pkg/apis/kubeone|hack/)
  pull-kubeone-e2e-aws-containerd-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.22: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.23: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.23-v1beta1: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.19-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.20-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.21-1.22: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.22-1.23: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  post-kubeone-push-e2e-image: any of: (hack/images/kubeone-e2e)
  pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-default-install-containerd-external-v1.32: any of: (.prow/|addons/|examples/|hack/|pkg/|test/)
  pull-kubeone-e2e-aws-default-install-containerd-external-v1.33: any of: (.prow/|addons/|examples/|hack/|pkg/|test/)
  pull-kubeone-e2e-aws-default-install-containerd-external-v1.34: any of: (.prow/|addons/|examples/|hack/|pkg/|test/)

Synchronize OWNERS_ALIASES file with Github teams (#3896)
  OWNERS_ALIASES
Due: none

[release/v1.11] Synchronize OWNERS_ALIASES file with Github teams (#3897)
  OWNERS_ALIASES
Due: none

Lower the initial number of worker nodes in the Azure example to 1
  examples/terraform/azure/variables.tf
Due: pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Try to avoid rate limiting issues in Hetzner Cloud terraform provider
  examples/terraform/hetzner/main.tf
Due: pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Try to avoid rate limiting issues in Hetzner Cloud terraform provider (#3900)
  examples/terraform/hetzner/main.tf
Due: pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Update codegen
  pkg/templates/images/resource_string.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Backport vSphere terraform config from main
  examples/terraform/vsphere/main.tf
  examples/terraform/vsphere/variables.tf
  examples/terraform/vsphere/versions.tf
Due: pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Adjust vSphere tfvars and test definitions to use the correct template and folder
  examples/terraform/vsphere/README.md
  test/e2e/testdata/vsphere.tfvars
  test/e2e/tests_definitions.go
  test/go-test-e2e.sh
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Adjust vSphere tfvars and test definitions to use the correct template and folder (#3901)
  examples/terraform/vsphere/README.md
  examples/terraform/vsphere/main.tf
  examples/terraform/vsphere/variables.tf
  examples/terraform/vsphere/versions.tf
  test/e2e/testdata/vsphere.tfvars
  test/e2e/tests_definitions.go
  test/go-test-e2e.sh
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

make -vars presedent over -var-file
  test/e2e/terraform.go
  test/e2e/tests_definitions.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

make -vars presedent over -var-file (#3902)
  test/e2e/terraform.go
  test/e2e/tests_definitions.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Use new kubeone flatcar template for vSphere Flatcar tests
  test/e2e/tests_definitions.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Use new kubeone flatcar template for vSphere Flatcar tests (#3903)
  test/e2e/tests_definitions.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Fix vSphere e2e test configuration
  test/go-test-e2e.sh
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

change vSphere E2E test template name to kubeone-e2e-ubuntu-24.04
  test/e2e/testdata/vsphere.tfvars
  test/e2e/tests_definitions.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Replace busybox image with debian-base image in cloudprovider e2e test
  test/e2e/cloudprovider.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Use InternalImages for backup restic and unattended upgrades addons
  addons/backups-restic/backups-restic.yaml
  addons/unattended-upgrades/apt.yaml
  addons/unattended-upgrades/fluo.yaml
  addons/unattended-upgrades/fluo/Kustomization
  addons/unattended-upgrades/yum.yaml
  pkg/templates/images/images.go
  pkg/templates/images/resource_string.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Fix vSphere e2e test configuration
  test/e2e/cloudprovider.go
  test/e2e/testdata/vsphere.tfvars
  test/e2e/tests_definitions.go
  test/go-test-e2e.sh
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Fix vSphere e2e test configuration (#3905)
  test/e2e/cloudprovider.go
  test/e2e/testdata/vsphere.tfvars
  test/e2e/tests_definitions.go
  test/go-test-e2e.sh
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Use InternalImages for backup restic and unattended upgrades addons (#3904)
  addons/backups-restic/backups-restic.yaml
  addons/unattended-upgrades/apt.yaml
  addons/unattended-upgrades/fluo.yaml
  addons/unattended-upgrades/fluo/Kustomization
  addons/unattended-upgrades/yum.yaml
  pkg/templates/images/images.go
  pkg/templates/images/resource_string.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Prepart CHANGELOG for v1.12.0 release
  CHANGELOG/CHANGELOG-1.12.md
  CHANGELOG/README.md
Due: none

Prepart CHANGELOG for v1.12.0 release (#3906)
  CHANGELOG/CHANGELOG-1.12.md
  CHANGELOG/README.md
Due: none

Typos fixed in changelog for v1.12.0
  CHANGELOG/CHANGELOG-1.12.md
Due: none

Typos fixed in changelog for v1.12.0 (#3908)
  CHANGELOG/CHANGELOG-1.12.md
Due: none

fix cilium-envoy image ref
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

fix cilium-envoy image ref (#3910)
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Changelog v1.12.1
  CHANGELOG/CHANGELOG-1.12.md
Due: none

fix cilium-envoy image ref (#3911)
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Changelog v1.12.1 (#3912)
  CHANGELOG/CHANGELOG-1.12.md
Due: none

Add local cluster to README.md
  README.md
Due: none

Update install script to support ARM on Linux and Max
  install.sh
Due: none

fix
  install.sh
Due: none

Add local cluster to README.md (#3913)
  README.md
Due: none

Update install script to support ARM on Linux and Max (#3914)
  install.sh
Due: none

Rename valuesFile to cluster-autoscaler-values
  addons/cluster-autoscaler/Kustomization
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Rename cluster-autoscaler-values.yaml to cluster-autoscaler-values
  addons/cluster-autoscaler/cluster-autoscaler-values
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Rename cluster-autoscaler-values.yaml to cluster-autoscaler-values (#3916)
  addons/cluster-autoscaler/Kustomization
  addons/cluster-autoscaler/cluster-autoscaler-values
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34
