Repository kubermatic/kubeone: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, post-kubeone-push-e2e-image, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

pull-kubeone-verify-apidocs:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.5
      command:
      - make
      args:
      - verify-apidocs
      resources:
        requests:
          memory: 512Mi
          cpu: 500m
        limits:
          memory: 1Gi
          cpu: 1

pull-kubeone-e2e-aws-containerd-conformance-1.20:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

pull-kubeone-e2e-aws-conformance-1.20:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
  ...

pull-kubeone-e2e-aws-conformance-1.21:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: TEST_CLUSTER_TARGET_VERSION
  ...

pull-kubeone-e2e-aws-conformance-1.22:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

pull-kubeone-e2e-aws-conformance-1.23:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

pull-kubeone-e2e-aws-conformance-1.23-v1beta1:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.20
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

Give 3 workers for azure e2e
  testv2/e2e/tests_definitions.go
Due: none

Use bastion for vsphere flatcar terraform configuration
  examples/terraform/vsphere/variables.tf
  examples/terraform/vsphere_flatcar/outputs.tf
  examples/terraform/vsphere_flatcar/variables.tf
Due: none

Configure vSphere to use jumphost
  examples/terraform/vsphere/main.tf
  examples/terraform/vsphere/outputs.tf
  examples/terraform/vsphere/variables.tf
  examples/terraform/vsphere/versions.tf
  testv2/go-test-e2e.sh
Due: none

Document how to use new generated e2e tests.
  testv2/README.md
Due: none

Close SSH connection on error
  pkg/runner/runner.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Rename ssh_bastion_* variables to bastion_*
  examples/terraform/vsphere/main.tf
  examples/terraform/vsphere/outputs.tf
  examples/terraform/vsphere/variables.tf
  examples/terraform/vsphere_flatcar/outputs.tf
  examples/terraform/vsphere_flatcar/variables.tf
  testv2/go-test-e2e.sh
Due: none

Provide cloudConfig for vSphere generated e2e tests
  testv2/e2e/testdata/vsphere_default.tfvars
  testv2/e2e/testdata/vsphere_flatcar.tfvars
  testv2/e2e/tests_definitions.go
  testv2/go-test-e2e.sh
Due: none

Give vSphere e2e tests a folder
  testv2/e2e/testdata/vsphere_default.tfvars
  testv2/e2e/testdata/vsphere_flatcar.tfvars
Due: none

Regenerate e2e tests
  testv2/e2e/prow.yaml
  testv2/e2e/tests_test.go
Due: none

Dynamially render cloudConfig for azure
  testv2/go-test-e2e.sh
Due: none

Disable any always_run and add some v1.24.2 generated tests
  .prow/generated.yaml
  testv2/e2e/prow.yaml
  testv2/e2e/tests_test.go
  testv2/tests.yml
Due: none

Increase memory on e2e vsphere clusters
  testv2/e2e/testdata/vsphere_default.tfvars
  testv2/e2e/testdata/vsphere_flatcar.tfvars
Due: none

Give e2e azure tests bigger timeout by default
  testv2/e2e/prow.yaml
  testv2/e2e/tests_definitions.go
Due: none

upgrade vsphere terraform provider
  examples/terraform/vsphere/versions.tf
  examples/terraform/vsphere_flatcar/versions.tf
Due: none

Mark some fields of scenario structs as public
  testv2/e2e/scenario_conformance.go
  testv2/e2e/scenario_install.go
  testv2/e2e/scenario_upgrade.go
  testv2/e2e/tests_definitions.go
Due: none

Upgrade ubuntu to 20.04 in azure terraform config
  examples/terraform/azure/main.tf
Due: none

Add missing vsphere fonder to generated cloudConfig
  testv2/go-test-e2e.sh
Due: none

Move cloud-provider=external defaulting logic
  pkg/apis/kubeone/v1beta2/defaults.go
  pkg/apis/kubeone/v1beta2/helpers.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Retry different helper functions
  testv2/e2e/helpers.go
Due: none

Update vSphere terraform config READMEs
  examples/terraform/vsphere/README.md
  examples/terraform/vsphere_flatcar/README.md
Due: none

Regenerate terraform READMEs again
  examples/terraform/azure/README.md
  examples/terraform/digitalocean/variables.tf
Due: none

Upgrade kubernetes versions in generated e2e tests
  testv2/tests.yml
Due: none

Run sonobuoy together with "behind the bastion" tunnel proxy
  testv2/e2e/helpers.go
  testv2/e2e/sonobuoy.go
Due: none

kubeone.AsyncProxy in generated e2e tests
  testv2/e2e/kubeone.go
Due: none

Fix linter
  testv2/e2e/helpers.go
Due: none

Use ssh tunnel to communicat with kubeAPI server
  testv2/e2e/helpers.go
Due: none

Update e2e image to kubermatic/kubeone-e2e:v0.1.23
  testv2/e2e/helpers.go
  testv2/e2e/prow.yaml
Due: none

Use kubeone-e2e:v0.1.23 is some postsubmits
  .prow/postsubmits.yaml
Due: none

Use kubeone-e2e:v0.1.23 is some postsubmits (#2122)
  .prow/postsubmits.yaml
Due: none

Update kubeadm-flags.env when upgrading static worker nodes
  pkg/tasks/upgrade_static_workers.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

add vsphere anit-affinity rule
  examples/terraform/vsphere/README.md
  examples/terraform/vsphere/main.tf
  examples/terraform/vsphere/variables.tf
Due: none

fixup! add vsphere anit-affinity rule
  examples/terraform/vsphere/main.tf
  examples/terraform/vsphere/variables.tf
Due: none

Launch new generated E2E (#2095)
  .prow/generated.yaml
  examples/terraform/azure/README.md
  examples/terraform/azure/main.tf
  examples/terraform/azure/versions.tf
  examples/terraform/vsphere/README.md
  examples/terraform/vsphere/main.tf
  examples/terraform/vsphere/outputs.tf
  examples/terraform/vsphere/variables.tf
  examples/terraform/vsphere/versions.tf
  examples/terraform/vsphere_flatcar/README.md
  examples/terraform/vsphere_flatcar/outputs.tf
  examples/terraform/vsphere_flatcar/variables.tf
  examples/terraform/vsphere_flatcar/versions.tf
  pkg/apis/kubeone/v1beta2/defaults.go
  pkg/runner/runner.go
  testv2/README.md
  testv2/e2e/helpers.go
  testv2/e2e/kubeone.go
  testv2/e2e/prow.yaml
  testv2/e2e/scenario_conformance.go
  testv2/e2e/scenario_install.go
  testv2/e2e/scenario_upgrade.go
  testv2/e2e/sonobuoy.go
  testv2/e2e/terraform.go
  testv2/e2e/testdata/containerd_calico.yaml
  testv2/e2e/testdata/containerd_simple.yaml
  testv2/e2e/testdata/containerd_weave.yaml
  testv2/e2e/testdata/docker_calico.yaml
  testv2/e2e/testdata/docker_simple.yaml
  testv2/e2e/testdata/docker_weave.yaml
  testv2/e2e/testdata/openstack_vars.tfvars
  testv2/e2e/testdata/vsphere_default.tfvars
  testv2/e2e/testdata/vsphere_flatcar.tfvars
  testv2/e2e/tests_definitions.go
  testv2/e2e/tests_test.go
  testv2/go-test-e2e.sh
  testv2/tests.yml
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Add rockylinux support in KubeOne
  addons/unattended-upgrades/README.md
  addons/unattended-upgrades/kured.yaml
  addons/unattended-upgrades/yum.yaml
  examples/terraform/aws/README.md
  examples/terraform/aws/variables.tf
  examples/terraform/azure/README.md
  examples/terraform/azure/variables.tf
  examples/terraform/digitalocean/README.md
  examples/terraform/digitalocean/variables.tf
  examples/terraform/equinixmetal/README.md
  examples/terraform/equinixmetal/variables.tf
  examples/terraform/gce/README.md
  examples/terraform/hetzner/variables.tf
  examples/terraform/openstack/README.md
  examples/terraform/openstack/variables.tf
  examples/terraform/vsphere/README.md
  examples/terraform/vsphere/variables.tf
  examples/terraform/vsphere_flatcar/README.md
  pkg/apis/kubeone/helpers.go
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta2/types.go
  pkg/tasks/kubernetes_binaries.go
  pkg/tasks/nodes.go
  pkg/tasks/prerequisites.go
  pkg/tasks/reset.go
  test/e2e/os.go
  testv2/e2e/prow.yaml
  testv2/e2e/tests_definitions.go
  testv2/e2e/tests_test.go
  testv2/tests.yml
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Update OSM to v0.5.0
  addons/operating-system-manager/cloud-init-settings.yaml
  addons/operating-system-manager/crd-operating-system-config.yaml
  addons/operating-system-manager/crd-operating-system-profile.yaml
  addons/operating-system-manager/rbac-controller.yaml
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Update machine-controller to v1.52.0
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Fix cloud-init-getter token secret
  addons/operating-system-manager/cloud-init-settings.yaml
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Add rockylinux support in KubeOne (#2121)
  addons/unattended-upgrades/README.md
  addons/unattended-upgrades/kured.yaml
  addons/unattended-upgrades/yum.yaml
  examples/terraform/aws/README.md
  examples/terraform/aws/variables.tf
  examples/terraform/azure/README.md
  examples/terraform/azure/variables.tf
  examples/terraform/digitalocean/README.md
  examples/terraform/digitalocean/variables.tf
  examples/terraform/equinixmetal/README.md
  examples/terraform/equinixmetal/variables.tf
  examples/terraform/gce/README.md
  examples/terraform/hetzner/variables.tf
  examples/terraform/openstack/README.md
  examples/terraform/openstack/variables.tf
  examples/terraform/vsphere/README.md
  examples/terraform/vsphere/variables.tf
  examples/terraform/vsphere_flatcar/README.md
  pkg/apis/kubeone/helpers.go
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta2/types.go
  pkg/tasks/kubernetes_binaries.go
  pkg/tasks/nodes.go
  pkg/tasks/prerequisites.go
  pkg/tasks/reset.go
  test/e2e/os.go
  testv2/e2e/prow.yaml
  testv2/e2e/tests_definitions.go
  testv2/e2e/tests_test.go
  testv2/tests.yml
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21

Update machine-controller dependency to v1.52.0
  go.mod
  go.sum
Due: none

Add e2e tests for operating-system-manager
  testv2/e2e/prow.yaml
  testv2/e2e/testdata/operating_system_manager.yaml
  testv2/e2e/tests_definitions.go
  testv2/e2e/tests_test.go
  testv2/tests.yml
Due: none

Path conditions:
  pull-kubeone-verify-apidocs: any of: (pkg/apis/kubeone|hack/)
  pull-kubeone-e2e-aws-containerd-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.22: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.23: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.23-v1beta1: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.19-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.20-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.21-1.22: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.22-1.23: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  post-kubeone-push-e2e-image: any of: (hack/images/kubeone-e2e)
  pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
