Repository kubermatic/kubeone: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, post-kubeone-push-e2e-image, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Path conditions:
  pull-kubeone-verify-apidocs: any of: (pkg/apis/kubeone|hack/)
  pull-kubeone-e2e-aws-containerd-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.22: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.23: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.23-v1beta1: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.19-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.20-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.21-1.22: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.22-1.23: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  post-kubeone-push-e2e-image: any of: (hack/images/kubeone-e2e)
  pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-default-install-containerd-external-v1.32: any of: (.prow/|addons/|examples/|hack/|pkg/|test/)
  pull-kubeone-e2e-aws-default-install-containerd-external-v1.33: any of: (.prow/|addons/|examples/|hack/|pkg/|test/)
  pull-kubeone-e2e-aws-default-install-containerd-external-v1.34: any of: (.prow/|addons/|examples/|hack/|pkg/|test/)

Update AWS CSI driver to v1.61.1
  addons/csi-aws-ebs/README.md
  addons/csi-aws-ebs/aws-csi.yaml
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Update Hetzner CSI to v2.21.2
  addons/csi-hetzner/Kustomization
  addons/csi-hetzner/hcloud-csi.yml
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Update vSphere CSI to v3.7.1
  addons/csi-vsphere/1-vsphere-csi-driver.yaml
  addons/csi-vsphere/Kustomization
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Update k8s images (#4106)
  addons/ccm-digitalocean/Kustomization
  addons/ccm-gcp/Kustomization
  addons/ccm-gcp/ccm-gcp.yaml
  addons/ccm-hetzner/Kustomization
  addons/ccm-hetzner/ccm-hetzner.yaml
  addons/cni-canal/Kustomization
  addons/cni-canal/canal.yaml
  addons/cni-cilium/Kustomization
  addons/cni-cilium/cilium.yaml
  addons/csi-aws-ebs/README.md
  addons/csi-aws-ebs/aws-csi.yaml
  addons/csi-azuredisk/Kustomization
  addons/csi-azuredisk/csi-azuredisk.yaml
  addons/csi-azurefile/Kustomization
  addons/csi-azurefile/csi-azurefile.yaml
  addons/csi-digitalocean/Kustomization
  addons/csi-gcp-compute-persistent/Kustomization
  addons/csi-gcp-compute-persistent/csi-gcp-compute-persistent.yaml
  addons/csi-hetzner/Kustomization
  addons/csi-hetzner/hcloud-csi.yml
  addons/csi-vsphere/1-vsphere-csi-driver.yaml
  addons/csi-vsphere/Kustomization
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Add parallel image copy support for mirror-images
  go.mod
  go.sum
  pkg/cmd/config-images.go
  pkg/cmd/mirror-images.go
  pkg/images/util.go
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Add parallel image copy support for mirror-images (#4107)
  go.mod
  go.sum
  pkg/cmd/config-images.go
  pkg/cmd/mirror-images.go
  pkg/images/util.go
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Add Kubevirt managed control plane
  docs/api_reference/v1beta2.en.md
  docs/api_reference/v1beta3.en.md
  pkg/apis/kubeone/config/config.go
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta2/types.go
  pkg/apis/kubeone/v1beta2/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta2/zz_generated.deepcopy.go
  pkg/apis/kubeone/v1beta3/types.go
  pkg/apis/kubeone/v1beta3/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta3/zz_generated.deepcopy.go
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/zz_generated.deepcopy.go
  pkg/provisioner/provisioner.go
  pkg/tasks/cloud_resources_kubevirt.go
  pkg/tasks/cloud_resources_provision.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Add kubevirt as a supported provider for init command
  pkg/cmd/initcmd/generate.go
  pkg/cmd/initcmd/providers.go
  pkg/cmd/initcmd/testdata/TestGenKubeOneClusterYAML-default_on_kubevirt.golden
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Add kubevirt as a supported provider for init command (#4110)
  pkg/cmd/initcmd/generate.go
  pkg/cmd/initcmd/providers.go
  pkg/cmd/initcmd/testdata/TestGenKubeOneClusterYAML-default_on_kubevirt.golden
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Add successfulJobsHistoryLimit param to backups-restic addon
  addons/backups-restic/backups-restic.yaml
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Add successfulJobsHistoryLimit param to backups-restic addon (#4113)
  addons/backups-restic/backups-restic.yaml
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

tmp
  pkg/cmd/config-images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

List images based on provider
  pkg/apis/kubeone/config/config.go
  pkg/apis/kubeone/v1beta2/helpers.go
  pkg/apis/kubeone/v1beta3/helpers.go
  pkg/cmd/config-images.go
  pkg/templates/images/images.go
  pkg/templates/images/images_test.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

move govulncheck to the dedicated workflow
  .github/actions/setup/action.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/lint.yml
Due: none

Temporary disable govulncheck
  .github/workflows/lint.yml
Due: none

Temporary disable govulncheck (#4115)
  .github/actions/setup/action.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/lint.yml
Due: none

Regenerate apiserver.crt when APIEndpoint.AlternativeNames has something new
  pkg/certificate/ca.go
  pkg/certificate/certificate.go
  pkg/scripts/kubeadm.go
  pkg/scripts/kubeadm_test.go
  pkg/tasks/controlplane.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Remove both apiserver.crt and apiserver.key before kubeadm cert regeneration so updated AlternativeNames are applied reliably.
  pkg/certificate/ca.go
  pkg/certificate/certificate.go
  pkg/cmd/certificates.go
  pkg/configupload/configuration.go
  pkg/tasks/kubeadm_config.go
  pkg/tasks/tasks.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Update GH actions pins
  .github/actions/setup/action.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: none

add mirror-images workflow
  .github/workflows/mirror-images.yml
Due: none

Regenerate apiserver.crt when APIEndpoint.AlternativeNames has something new (#4114)
  pkg/certificate/ca.go
  pkg/certificate/certificate.go
  pkg/cmd/certificates.go
  pkg/configupload/configuration.go
  pkg/scripts/kubeadm.go
  pkg/scripts/kubeadm_test.go
  pkg/tasks/controlplane.go
  pkg/tasks/kubeadm_config.go
  pkg/tasks/tasks.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

kubeone mirror-images github action (#4116)
  .github/actions/setup/action.yml
  .github/workflows/lint.yml
  .github/workflows/mirror-images.yml
  .github/workflows/release.yml
Due: none

add sbom generation and cosign attestation
  .github/workflows/release.yml
  .goreleaser.yml
Due: none

add sbom generation and cosign attestation (#4117)
  .github/workflows/release.yml
  .goreleaser.yml
Due: none

Update container images for MachineController and OperatingSystemManager
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

update oras-go dependency to v2.6.1
  go.mod
  go.sum
Due: none

Update container images for MachineController and OperatingSystemManager (#4118)
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

update oras-go dependency to v2.6.1 (#4120)
  go.mod
  go.sum
Due: none

Refactor AWS credentials loading
  go.mod
  go.sum
  pkg/credentials/credentials.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Refactor AWS credentials loading (#4121)
  go.mod
  go.sum
  pkg/credentials/credentials.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Update all the direct dependencies to their latest versions
  go.mod
  go.sum
Due: none

Update all the direct dependencies to their latest versions (#4122)
  go.mod
  go.sum
Due: none

Upgrade to helm4
  go.mod
  go.sum
  pkg/localhelm/helm3.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Run govulncheck on every PR and every night at 1am
  .github/workflows/govulncheck.yml
  .github/workflows/lint.yml
Due: none

Upgrade helm library to helm4 (#4123)
  .github/workflows/govulncheck.yml
  .github/workflows/lint.yml
  go.mod
  go.sum
  pkg/localhelm/helm3.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Use release/v1.13 as a previous stabe in upgrade testing
  .prow/generated.yaml
  test/e2e/scenario_upgrade.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Use release/v1.13 as a previous stabe in upgrade testing (#4133)
  .prow/generated.yaml
  test/e2e/scenario_upgrade.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Update restic addon images restic 0.19.1, etcd 3.5.32
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Update restic addon images restic 0.19.1, etcd 3.5.32 (#4134)
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

AWS provisioning and upgrading with k1
  README.md
Due: none
