Repository kubermatic/kubeone: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, post-kubeone-push-e2e-image, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Path conditions:
  pull-kubeone-verify-apidocs: any of: (pkg/apis/kubeone|hack/)
  pull-kubeone-e2e-aws-containerd-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.22: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.23: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-conformance-1.23-v1beta1: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.19-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.20-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.21-1.22: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-upgrade-1.22-1.23: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  post-kubeone-push-e2e-image: any of: (hack/images/kubeone-e2e)
  pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/|addons/)
  pull-kubeone-e2e-aws-default-install-containerd-external-v1.32: any of: (.prow/|addons/|examples/|hack/|pkg/|test/)
  pull-kubeone-e2e-aws-default-install-containerd-external-v1.33: any of: (.prow/|addons/|examples/|hack/|pkg/|test/)
  pull-kubeone-e2e-aws-default-install-containerd-external-v1.34: any of: (.prow/|addons/|examples/|hack/|pkg/|test/)

test azure
  README.md
Due: none

External Cilium cluster provisioning with k1 AWS
  README.md
Due: none

Always check the latest Go version in the setup action
  .github/actions/setup/action.yml
  .github/workflows/govulncheck.yml
  .github/workflows/mirror-images.yml
Due: none

Always check the latest Go version in the setup action (#4139)
  .github/actions/setup/action.yml
  .github/workflows/govulncheck.yml
  .github/workflows/mirror-images.yml
Due: none

update flatcar version for azure
  examples/terraform/azure/variables.tf
Due: pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

update codegen
  examples/terraform/azure/README.md
Due: pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Upgrade machine-controller to v1.66.0
  go.mod
  go.sum
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Upgrade machine-controller to v1.66.0 (#4142)
  go.mod
  go.sum
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

docs: add managed control-plane guides for Hetzner and OpenStack
  docs/hetzner_control_plane.md
  docs/openstack_control_plane.md
Due: none

Update Flatcar version to 4593.2.2 for azure (#4140)
  examples/terraform/azure/README.md
  examples/terraform/azure/variables.tf
Due: pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Remove backward incompatible enableLocalRedirectPolicy field from e2e test
  test/e2e/testdata/containerd_cilium_external.yaml
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Remove backward incompatible enableLocalRedirectPolicy field from e2e test (#4145)
  test/e2e/testdata/containerd_cilium_external.yaml
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

a commit for OS testing
  README.md
Due: none

test hetzner
  README.md
Due: none

pre-release-vsphere
  README.md
Due: none

docs: add managed control-plane guides for Hetzner and OpenStack (#4143)
  docs/hetzner_control_plane.md
  docs/openstack_control_plane.md
Due: none

enable lb
  examples/terraform/hetzner/variables.tf
Due: pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Let unattended-upgrades work on RHEL9 like systems as well
  addons/unattended-upgrades/yum.yaml
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

enable lb
  test/e2e/tests_definitions.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Let unattended-upgrades work on RHEL9 like systems as well (#4147)
  addons/unattended-upgrades/yum.yaml
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Update kubevirt CCM to v0.6.0
  addons/ccm-kubevirt/Kustomization
  addons/ccm-kubevirt/ccm-kubevirt.yaml
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Add missing KubeVirt CCM credentials secret creation logic
  pkg/credentials/secret.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

KubeVirt: wait for load balancer ingress with timeout
  pkg/tasks/cloud_resources_kubevirt.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Refactor kubernetes.Interface to controller-runtime Client
  .gimps.yaml
  .golangci.yml
  pkg/tasks/cloud_resources_hetzner.go
  pkg/tasks/cloud_resources_kubevirt.go
  test/generator/github.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Add validation for KubeVirt managed control plane without a load balancer
  pkg/apis/kubeone/validation/validation.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Copy labels to the Machine object to see the in VirtualMachine object later
  pkg/tasks/cloud_resources_kubevirt.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Add Kubevirt managed control plane
  docs/api_reference/v1beta2.en.md
  docs/api_reference/v1beta3.en.md
  pkg/apis/kubeone/config/config.go
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta2/types.go
  pkg/apis/kubeone/v1beta2/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta2/zz_generated.deepcopy.go
  pkg/apis/kubeone/v1beta3/types.go
  pkg/apis/kubeone/v1beta3/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta3/zz_generated.deepcopy.go
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/zz_generated.deepcopy.go
  pkg/provisioner/provisioner.go
  pkg/tasks/cloud_resources_kubevirt.go
  pkg/tasks/cloud_resources_provision.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Update KubeVirt load balancer service type to corev1.ServiceType and adjust API references
  docs/api_reference/v1beta2.en.md
  docs/api_reference/v1beta3.en.md
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta2/types.go
  pkg/apis/kubeone/v1beta2/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta3/types.go
  pkg/apis/kubeone/v1beta3/zz_generated.conversion.go
  pkg/apis/kubeone/validation/validation.go
  pkg/tasks/cloud_resources_kubevirt.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Change default KubeVirt load balancer service type to NodePort
  docs/api_reference/v1beta2.en.md
  docs/api_reference/v1beta3.en.md
  pkg/apis/kubeone/config/config.go
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta2/types.go
  pkg/apis/kubeone/v1beta3/types.go
  pkg/tasks/cloud_resources_kubevirt.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

KubeVirt control plane docs
  docs/kubevirt_control_plane.md
Due: none

Remove tolerations from kubevirt-csi-node DaemonSet configuration
  addons/csi-kubevirt/1-kubevirt-csi-driver.yaml
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Enhance addon resource management by incorporating DNS service IP into resource definitions and adding NthServiceSubnetIP function for subnet IP retrieval.
  pkg/addons/applier.go
  pkg/apis/kubeone/helpers.go
  pkg/templates/resources/resources.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Remove default ServiceType assignment for KubeVirt load balancer in setDefaultKubevirtControlPlane function
  pkg/apis/kubeone/config/config.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Make kubevirt provider external too.
  addons/ccm-kubevirt/config-map.yaml
  pkg/apis/kubeone/v1beta2/defaults.go
  pkg/apis/kubeone/v1beta3/defaults.go
  pkg/credentials/secret.go
  pkg/credentials/secret_test.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

Update golang.org/x/text to v0.40.0
  go.mod
  go.sum
Due: none

KubevirtControlPlane (#4108)
  .gimps.yaml
  .golangci.yml
  addons/ccm-kubevirt/Kustomization
  addons/ccm-kubevirt/ccm-kubevirt.yaml
  addons/ccm-kubevirt/config-map.yaml
  addons/csi-kubevirt/1-kubevirt-csi-driver.yaml
  docs/api_reference/v1beta2.en.md
  docs/api_reference/v1beta3.en.md
  docs/kubevirt_control_plane.md
  go.mod
  go.sum
  pkg/addons/applier.go
  pkg/apis/kubeone/config/config.go
  pkg/apis/kubeone/helpers.go
  pkg/apis/kubeone/types.go
  pkg/apis/kubeone/v1beta2/defaults.go
  pkg/apis/kubeone/v1beta2/types.go
  pkg/apis/kubeone/v1beta2/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta2/zz_generated.deepcopy.go
  pkg/apis/kubeone/v1beta3/defaults.go
  pkg/apis/kubeone/v1beta3/types.go
  pkg/apis/kubeone/v1beta3/zz_generated.conversion.go
  pkg/apis/kubeone/v1beta3/zz_generated.deepcopy.go
  pkg/apis/kubeone/validation/validation.go
  pkg/apis/kubeone/zz_generated.deepcopy.go
  pkg/credentials/secret.go
  pkg/credentials/secret_test.go
  pkg/provisioner/provisioner.go
  pkg/tasks/cloud_resources_hetzner.go
  pkg/tasks/cloud_resources_kubevirt.go
  pkg/tasks/cloud_resources_provision.go
  pkg/templates/images/images.go
  pkg/templates/resources/resources.go
  test/generator/github.go
Due: pull-kubeone-verify-apidocs, pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

use hostNetwork true to enable container shre the node port space
  addons/ccm-hetzner/ccm-hetzner.yaml
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

upgrade hcloud-ccm to v1.34.0
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34

upgrade hcloud-ccm to v1.34.0
  addons/ccm-hetzner/Kustomization
  addons/ccm-hetzner/ccm-hetzner.yaml
Due: pull-kubeone-e2e-aws-containerd-conformance-1.20, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-conformance-1.22, pull-kubeone-e2e-aws-conformance-1.23, pull-kubeone-e2e-aws-conformance-1.23-v1beta1, pull-kubeone-e2e-aws-upgrade-containerd-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, pull-kubeone-e2e-aws-upgrade-1.21-1.22, pull-kubeone-e2e-aws-upgrade-1.22-1.23, pull-kubeone-e2e-aws-upgrade-containerd-1.20-1.21, pull-kubeone-e2e-aws-default-install-containerd-external-v1.32, pull-kubeone-e2e-aws-default-install-containerd-external-v1.33, pull-kubeone-e2e-aws-default-install-containerd-external-v1.34
