Repository kubermatic/kubeone: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, ci-push-kubeone-e2e-image

pull-kubeone-e2e-aws-containerd-conformance-1.18:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.15
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.15
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

pull-kubeone-e2e-aws-conformance-1.18:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.15
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
  ...

pull-kubeone-e2e-aws-conformance-1.19:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.15
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
  ...

pull-kubeone-e2e-aws-conformance-1.20:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.15
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
  ...

pull-kubeone-e2e-aws-conformance-1.21:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.15
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: TEST_CLUSTER_TARGET_VERSION
  ...

pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.15
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
      - name: CONTAINER_RUNTIME
  ...

pull-kubeone-e2e-aws-upgrade-1.17-1.18:
  decorate: true
  labels:
    preset-goproxy: 'true'
    preset-aws: 'true'
  spec:
    containers:
    - image: kubermatic/kubeone-e2e:v0.1.15
      imagePullPolicy: Always
      command:
      - make
      args:
      - e2e-test
      env:
      - name: PROVIDER
        value: aws
  ...

General Amazon Linux 2 support (#1339)
  examples/terraform/aws/variables.tf
  pkg/scripts/os.go
  pkg/scripts/os_amzn.go
  pkg/scripts/os_centos.go
  pkg/scripts/os_debian.go
  pkg/scripts/os_flatcar.go
  pkg/scripts/testdata/TestKubeadmAmazonLinux-force.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-proxy.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-simple.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestRemoveBinariesAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlAmazonLinux.golden
  pkg/templates/images/images.go
  test/e2e/eksd.go
  test/e2e/os.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

fix: reorder imports
  pkg/cmd/apply.go
  pkg/cmd/reset.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

fix: add new line in imports
  pkg/cmd/apply.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Fix missing confirmation for reset (#1251)
  pkg/cmd/apply.go
  pkg/cmd/reset.go
  pkg/cmd/shared.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

fix typo
  examples/terraform/gce/README.md
Due: none

fix typo (#1346)
  examples/terraform/gce/README.md
Due: none

Use latest available docker and containerd
  pkg/scripts/funcs.go
  pkg/scripts/render.go
  pkg/scripts/testdata/TestKubeadmAmazonLinux-force.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-proxy.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-simple.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-force.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmCentOS-proxy.golden
  pkg/scripts/testdata/TestKubeadmCentOS-simple.golden
  pkg/scripts/testdata/TestKubeadmCentOS-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestKubeadmDebian-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmDebian-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmDebian-simple.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNICentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIDebian.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlCentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlDebian.golden
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Upgrade CustomResourceDefinition to v1
  pkg/clientutil/crds.go
  pkg/templates/canal/crd.go
  pkg/templates/machinecontroller/deployment.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Use docker 20.10 for kubernetes 1.21
  pkg/scripts/funcs.go
  pkg/scripts/render.go
  pkg/scripts/testdata/TestKubeadmAmazonLinux-force.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-proxy.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-simple.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmCentOS-force.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmCentOS-proxy.golden
  pkg/scripts/testdata/TestKubeadmCentOS-simple.golden
  pkg/scripts/testdata/TestKubeadmCentOS-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmDebian-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmDebian-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmDebian-simple.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNICentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIDebian.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlCentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlDebian.golden
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Use latest available (wildcard) docker and containerd version (#1358)
  pkg/scripts/funcs.go
  pkg/scripts/render.go
  pkg/scripts/testdata/TestKubeadmAmazonLinux-force.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-proxy.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-simple.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-force.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmCentOS-proxy.golden
  pkg/scripts/testdata/TestKubeadmCentOS-simple.golden
  pkg/scripts/testdata/TestKubeadmCentOS-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestKubeadmDebian-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmDebian-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmDebian-simple.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmDebian-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNICentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIDebian.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlCentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlDebian.golden
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Add worker_deploy_ssh_key Terraform variable to the AWS configs
  examples/terraform/aws/main.tf
  examples/terraform/aws/output.tf
  examples/terraform/aws/variables.tf
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Add worker_deploy_ssh_key Terraform variable to the AWS configs (#1361)
  examples/terraform/aws/main.tf
  examples/terraform/aws/output.tf
  examples/terraform/aws/variables.tf
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Support organizing addons into subdirectories
  pkg/addons/addons.go
  pkg/addons/manifest.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Update unit tests for addons
  pkg/addons/manifest_test.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Fix review comments
  pkg/addons/addons.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Support organizing addons into subdirectories (#1364)
  pkg/addons/addons.go
  pkg/addons/manifest.go
  pkg/addons/manifest_test.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

chore: update aws variables to include type of value
  examples/terraform/aws/variables.tf
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

chore: update type for control_plane_volume_size
  examples/terraform/aws/variables.tf
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

add WeirdMachine to OWNERS
  OWNERS
Due: none

chore: update aws variables to include type of value (#1366)
  examples/terraform/aws/variables.tf
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Add a link to docs on how to rolling restart machinedeployments
  pkg/tasks/tasks.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Patch kubeadm cri-socket in Node annotations
  go.mod
  go.sum
  pkg/scripts/os.go
  pkg/scripts/testdata/TestMigrateToContainerd-insecureRegistry.golden
  pkg/scripts/testdata/TestMigrateToContainerd-simple.golden
  pkg/tasks/containerd.go
  pkg/tasks/tasks.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Run containerd migrations tasks
  pkg/scripts/os.go
  pkg/scripts/render.go
  pkg/tasks/containerd.go
  pkg/tasks/tasks.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Fix linter issues
  pkg/tasks/containerd.go
  pkg/tasks/containerd_test.go
  pkg/templates/canal/canal.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Upgrade machine-controller to v1.30.0
  pkg/templates/images/images.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Hold containerd version
  pkg/clientutil/crds.go
  pkg/scripts/render.go
  pkg/scripts/testdata/TestKubeadmAmazonLinux-force.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-proxy.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-simple.golden
  pkg/scripts/testdata/TestKubeadmAmazonLinux-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmCentOS-force.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmCentOS-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmCentOS-proxy.golden
  pkg/scripts/testdata/TestKubeadmCentOS-simple.golden
  pkg/scripts/testdata/TestKubeadmCentOS-v1.16.1.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd.golden
  pkg/scripts/testdata/TestKubeadmCentOS-with_containerd_with_insecure_registry.golden
  pkg/scripts/testdata/TestKubeadmDebian-overwrite_registry.golden
  pkg/scripts/testdata/TestKubeadmDebian-overwrite_registry_insecure.golden
  pkg/scripts/testdata/TestKubeadmDebian-simple.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNICentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeadmAndCNIDebian.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlAmazonLinux.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlCentOS.golden
  pkg/scripts/testdata/TestUpgradeKubeletAndKubectlDebian.golden
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

kubeone migrate to-containerd
  pkg/cmd/migrate.go
  pkg/cmd/root.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

rename config subcommand functions to uniform
  pkg/cmd/config-images.go
  pkg/cmd/config.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

WithContainerDMigration task
  pkg/cmd/migrate.go
  pkg/tasks/probes.go
  pkg/tasks/tasks.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Parse and edit kubeadm-flags.env
  pkg/scripts/os.go
  pkg/scripts/os_test.go
  pkg/scripts/testdata/TestMigrateToContainerd-insecureRegistry.golden
  pkg/scripts/testdata/TestMigrateToContainerd-simple.golden
  pkg/tasks/containerd.go
  pkg/tasks/containerd_test.go
  pkg/tasks/tasks.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

Enable flatcar containerd migration
  pkg/scripts/os.go
  pkg/scripts/os_test.go
  pkg/scripts/testdata/TestMigrateToContainerd-flatcat.golden
  pkg/tasks/containerd.go
  pkg/tasks/tasks.go
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21

add WeirdMachine to OWNERS (#1367)
  OWNERS
Due: none

Upgrade terraform to 1.0.0
  hack/images/kubeone-e2e/Dockerfile
  hack/images/kubeone-e2e/release.sh
Due: pull-kubeone-e2e-aws-containerd-conformance-1.18, pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.18, pull-kubeone-e2e-aws-conformance-1.19, pull-kubeone-e2e-aws-conformance-1.20, pull-kubeone-e2e-aws-conformance-1.21, pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.17-1.18, pull-kubeone-e2e-aws-upgrade-1.18-1.19, pull-kubeone-e2e-aws-upgrade-1.19-1.20, pull-kubeone-e2e-aws-upgrade-1.20-1.21, ci-push-kubeone-e2e-image

chore: add value types for azure
  examples/terraform/azure/variables.tf
Due: none

chore: add value types for DO
  examples/terraform/digitalocean/variables.tf
Due: none

chore: add value types for gce
  examples/terraform/gce/variables.tf
Due: none

chore: add value types for hetzner
  examples/terraform/hetzner/variables.tf
Due: none

chore: add value types for openstack
  examples/terraform/openstack/variables.tf
Due: none

chore: add value types for packet
  examples/terraform/packet/variables.tf
Due: none

chore: add value types for vsphere
  examples/terraform/vsphere/variables.tf
Due: none

Path conditions:
  pull-kubeone-e2e-aws-containerd-conformance-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-flatcar-containerd-conformance-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.19: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-conformance-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-containerd-1.17-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.17-1.18: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.18-1.19: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.19-1.20: any of: (pkg/|examples/terraform/aws|hack/|test/)
  pull-kubeone-e2e-aws-upgrade-1.20-1.21: any of: (pkg/|examples/terraform/aws|hack/|test/)
  ci-push-kubeone-e2e-image: any of: (hack/images/kubeone-e2e)
